<div class="container-fluid">
  <app-menu-principal></app-menu-principal>


  <div>
    <form action="">

      <label for="nomeCompleto">Nome Completo</label>
      <input type="text" name="nomeCompleto" id="nomeCompleto">

      <label for="cpf">CPF</label>
      <input type="text" name="cpf" id="cpf">

      <label for="email">E-mail</label>
      <input type="text" name="email" id="email">

      <label for="telefone">Telefone</label>
      <input type="text" name="telefone" id="telefone">

      <label for="telefone-para-contato">Telefone para contato</label>
      <input type="text" name="telefone-para-contato" id="telefone-para-contato">

      <label for="idade">Idade</label>
      <input type="number" name="idade" id="idade">

      <label for="data-de-nascimento">Data de nascimento</label>
      <input type="date" name="data-de-nascimento" id="data-de-nascimento">

      <label for="estado-civil">Estado Civil</label>
      <input type="text" name="estado-civil" id="estado-civil">

      <label for="filhos">Filhos</label>
      <select name="filhos" id="filhos">
        <option value="sim">Sim</option>
        <option value="nao">Não</option>
      </select>

      <label for="quantidade-filhos">Qtd. de filhos</label>
      <input type="number" name="quantidade-filhos" id="quantidade-filhos">

      <label for="grau-escolaridade">Grau de escolaridade</label>
      <input type="text" name="grau-escolaridade" id="grau-escolaridade">

      <label for="profissao">Profissão</label>
      <input type="text" name="profissao" id="profissao">

      <label for="perfil">Perfil</label>
      <select name="perfil" id="perfil">  <!-- dados renderizados da api -->
        <option value="psicologia">Psicologia</option>
        <option value="psicoterapia">Psicoterapia</option>
      </select>

      <label for="rua">Rua</label>
      <input type="text" name="rua" id="rua">

      <label for="numero">Número</label>
      <input type="text" name="numero" id="numero">   <!-- tratar como number | aceitar apenas numeros  -->

      <label for="complemento">Complemento</label>
      <input type="text" name="complemento" id="complemento">

      <label for="bairro">Bairro</label>
      <input type="text" name="bairro" id="bairro">

      <label for="cidade">Cidade</label>
      <input type="text" name="cidade" id="cidade">

      <label for="uf">UF</label>
      <select  name="state" id="estados-cadastro-paciente">
        <!-- PEsquisa sobre fazer pesquisa no select dinamicamente -->
        <option value="">-- Selecione --</option>
        <option value="AC">Acre</option>
        <option value="AL">Alagoas</option>
        <option value="AP">Amapá</option>
        <option value="AM">Amazonas</option>
        <option value="BA">Bahia</option>
        <option value="CE">Ceará</option>
        <option value="DF">Distrito Federal</option>
        <option value="ES">Espírito Santo</option>
        <option value="GO">Goiás</option>
        <option value="MA">Maranhão</option>
        <option value="MT">Mato Grosso</option>
        <option value="MS">Mato Grosso do Sul</option>
        <option value="MG">Minas Gerais</option>
        <option value="PA">Pará</option>
        <option value="PB">Paraíba</option>
        <option value="PR">Paraná</option>
        <option value="PE">Pernambuco</option>
        <option value="PI">Piauí</option>
        <option value="RJ">Rio de Janeiro</option>
        <option value="RN">Rio Grande do Norte</option>
        <option value="RS">Rio Grande do Sul</option>
        <option value="RO">Rondônia</option>
        <option value="RR">Roraima</option>
        <option value="SC">Santa Catarina</option>
        <option value="SP">São Paulo</option>
        <option value="SE">Sergipe</option>
        <option value="TO">Tocantins</option>
      </select>

      <label for="cep">CEP</label>
      <input type="text" name="cep" id="cep">

      <label for="queixa">Queixa do paciente</label>
    <textarea name="queixa" id="queixa"></textarea>


    </form>
  </div>


</div>
