/**
* Grid - A partir de 992px à 1199px
* Bootstrap - Large .col-lg-
* Dispositivo alvo: Notebooks e desktops com telas menores
*/
@media (min-width: 992px) and (max-width: 1199px) {

  .container-cadastro {
    padding: 10px 40px;
  }

  #titulo-row {
    // background-color: tomato;
    margin-bottom: 0.40rem
  }

  #titulo-row {
    margin-top: 1.4rem;
    margin-bottom: 1.7rem;
  }

  .alt-da-caixa {
    height: 81.97px !important;
    //104.97 - anterior
  }


  /*** Estilo Calendário Prime NG ***/

   ::ng-deep {}

   ::ng-deep .prime-ng-calendar {
    width: 99.3%; /* Diminuido proporcional ao tamanho do dropdown do p-calendar (Prime NG) */
  }

  .textarea-queixa {
    height: 60px;
    resize: none;
    line-height: 1.4rem !important; /* Sobrepondo a definição do .form-control */
  }

  .btn-primary-registrar {
    height: 59px;
    width: 15.4%;
    font-size: 16.666666px;
    margin-top: 2rem;
  }

  .container-loading {
    margin-top: 2.5rem !important;
  }


}


/*
* Query para definição de altura para telas menores com altura de até 531px
*/
@media(min-width: 992px) and (max-width: 1199px)  and (max-height: 768px) {

  $altura_input_768: 2.1rem !important;



  .alt-da-caixa {
    height: 90.97px !important;
    //104.97 - anterior
  }



  .titulo-item {
    font-size: 0.93rem !important;
  }


  .textarea-queixa {
    height: 80px !important;
    resize: none; /* Impedir tamanho */
  }

  .btn-primary-registrar {
    height: 80px
  }

  .container-loading {
    margin-top: 1.5rem !important;
  }


}
