



/**
* Grid - A partir de 576px à 767px
* Bootstrap - Small .col-sm-
* Dispositivo alvo: Smartphones em modo paisagem e alguns dispositivos menores, como tablets compactos.
*/
@media (min-width: 426px) and (max-width: 767px) {

  /*
  * Abaixando o container para poder adequar ao menu fixado para tablet
  */
  .container-cadastro {
    margin-top: 11rem;
  }

  .cx-textarea-p-small {
    /* Excessão para caixa na tela small apenas */
    height: 99.97px !important;
    margin-bottom: 1rem;
  }

  .textarea-queixa {
    height: 80px;
    resize: none; /* Impedir tamanho */
  }

  .btn-registrar {
    margin-top: 2.1rem;
  }

  .btn-registrar button {
    height: 50px;
    width: 100%;
    font-size: 17.666666px;
  }

}


