
/**
* Estilização global para as Queries media
* A partir de 1200px
*/
@media(min-width: 1200px) {
  .form-control-cadastro, .form-control-select {
    line-height: 1.5rem !important;
  }
  .textarea-queixa {
    height: 110px !important;
    resize: none; /* Impedir tamanho */
  }
  .btn-registrar {
    margin-top: 5.2rem;
  }
  .btn-primary-registrar {
    width: 12rem;
    height: 2.3rem;
    line-height: 1rem;
  }

}



/**
* Grid Extra Large - A partir de 1200px
* Bootstrap - Extra large .col-xl-
* Dispositivo alvo: Desktops com telas grandes e monitores de alta resolução.
*/
@media(min-width: 1200px) and (min-height: 769px) {

  .container-cadastro {
    height: 100vh;
  }

  .btn-registrar {
    margin-top: 5.5rem;
  }

  .btn-primary-registrar {
    width: 10rem;
  }




}


/*
* Query para definição de altura para telas menores com altura de até 768px
* Para notebooks menores antigos: 1366 x 800
*
* Esta query engloba todos as resoluções abaixo
*/
@media(min-width: 1200px) and (max-height: 800px) {

  .alt-da-caixa {
    height: 90.97px !important;
  }

}

/**************** DISPOSITIVOS PERSONALIZADOS COM ALTURA E LARGURA PRÓPRIA ******************/


/*
* Resolução para notebooks de largura e altura de 1280 x 800
* MacBook Pro 13 (2011) 13.3 polegadas
* Testado Ok
*/
@media (width: 1280px) and (height: 800px) {
  .textarea-queixa {
    height: 110px !important;
    line-height: 1.2;
    resize: none; /* Impedir tamanho */
  }
  .btn-registrar {
    margin-top: 5rem !important;
  }

}



/*
* Resolução para notebooks de largura e altura de 1366 x 768
* MacBook Air 11 - 11.6 polegadas
* Obs: Um dos notebooks menores padronizados
* Testado
*/
@media (width: 1366px) and (height: 768px) {/*Medidas perfeitas*/}




/*
* Resolução para notebooks de largura e altura de 1440 x 900
* MacBook Air 13 (2011) 13.3 polegadas
*/
@media (width: 1440px) and (height: 900px) {
  .container-cadastro {
    padding: 2.5rem 3rem 4rem 3rem;
  }
  #titulo-row {
    margin-bottom: 1.5rem;
  }

  .textarea-queixa {
    height: 110px !important;
    line-height: 1.2;
    resize: none; /* Impedir tamanho */
  }
}





/**
* Estilização global para as Queries media
* A partir de 1600px
*/
@media(min-width: 1600px) {
  .textarea-queixa {
    line-height: 1.5rem !important;
  }

  .btn-primary-registrar {
    width: 13rem;
  }
}



/*
* Resolução para notebooks de largura e altura de 1600 x 900
* HP Envy Spectre 14 - 14 polegadas
* Obs: Dispositivo com altura média alta
* Testado Ok
*/
@media (width: 1600px) and (height: 900px) {

  #titulo-row {
    margin-bottom: 3rem !important;
  }

  .container-cadastro {
    padding: 3rem;
  }

  .textarea-queixa {
    height: 110px !important;
    line-height: 1.2;
    resize: none; /* Impedir tamanho */
  }



}


/**
* Estilização global para as Queries media
* A partir de 1680px
*/
@media(min-width: 1680px) {


}



/*
* Resolução para notebooks de largura e altura de 1680 x 1050
* MacBook Air 13 (2011) 13.3 polegadas
* Obs: Este dispositivo possui a tela muito alta
* Testado OK
*/
@media (width: 1680px) and (height: 1050px) {
  .container-cadastro {
    padding: 5rem 3rem 4rem 3rem;
  }
  #titulo-row {
    margin-bottom: 3rem;
  }
  .alt-da-caixa {
    height: 104.97px !important;
  }
  .btn-primary-registrar {
    width: 12rem;
  }
}






/*
* Resolução para notebooks de largura e altura de 1920 x 1200
* MacBook Pro 17 (2011) - 17 polegadas
* Obs: Essa configuração é a ultima como referência para as demais @queries abaixo
* Resolução ideal do cliente: Psicologa Marcia Regina
* Testado ok
*/
@media (min-width: 1920px) and (min-height: 1080px) {

  $tamanho_font: 17.666666px !important;

  .container-cadastro {
    padding: 4rem 3rem 2rem 3rem;
  }
  #titulo-row {
    margin-bottom: 3rem;
  }

  .alt-da-caixa {
    height: 110.97px !important;
    //104.97 - anterior
  }

  #titulo-row {
    margin-bottom: 4rem !important;
  }

  #titulo-row #titulo-col h4 {
    font-size: 1.7rem;
    width: 100%;
  }

  .textarea-queixa {
    height: 220px !important;
    resize: none; /* Impedir tamanho */
    font-size: $tamanho_font;
  }

  .btn-registrar {
    margin-top: 11rem;
  }

  .btn-primary-registrar {
    font-size: 17.666666px !important;
    width: 14rem;
    height: 3rem;
  }

}





/*
* Resolução para notebooks de largura e altura de 1920 x 1200
* Lenovo T61p - 14.1 polegadas
* Obs:
* Testado
*/
@media (width: 1920px) and (height: 1200px) {/*NÃO É NECESSÁRIO*/}





/*
* Resolução para notebooks de largura e altura de 1920 x 1080
* Sony Vaio Z 13.1 (2012) - 13.1 polegadas
* Asus Zenbook Prime - 11.6 polegadas
* Obs:
* Testado
*/
@media (width: 1920px) and (height: 1080px) {/*NÃO É NECESSÁRIO*/}





/*
* Resolução para notebooks de largura e altura de 1920 x 1080
* Sony Vaio Z 13.1 (2012) - 13.1 polegadas
* Obs:
* Testado
*/
@media (width: 1920px) and (height: 1080px) {/*NÃO É NECESSÁRIO*/}






/*
* Resolução para notebooks de largura e altura de 2880 x 1800
* MacBook Pro 15 (Retina) - 15.4 polegadas
* Obs:
* Testado
*/
@media (width: 2880px) and (height: 1800px) {/*NÃO É NECESSÁRIO*/}






