.container-cadastro {
  background-color: #fcfaf4;
  height: 100vh !important;
  padding: 40px;
}

#titulo {
  background-color: tomato;
  align-items: center;
}
#titulo h4 {
  text-align: center;
}

.coluna-cadastro {

}



.img-loading {
  height: 47px;
}


.message-error-formValidation {
  font-size: 0.8rem;
  color: tomato;
}

:host ::ng-deep .p-datepicker {
  background-color: #ffffff; /* Cor de fundo do calendário */
}

:host ::ng-deep .p-datepicker .p-datepicker-calendar {
  background-color: #f0f0f0; /* Cor de fundo da tabela do calendário */
}
