<div class="">

<form (ngSubmit)="atualizarPaciente()" [formGroup]="formValidation" >

  <div style="display: flex; margin-top: 3rem;">

    <div style="padding: 1rem;">
      <label for="prontuario">Prontuário</label>
      <span type="text" style="margin-left: 0.5rem;">
        {{ prontuario }}
      </span>
    </div>

    <div style="padding: 1rem;">
      <label for="nomeCompleto" class="">Nome Completo</label>
      <input type="text" class="" name="nomeCompleto"  formControlName="nomeCompleto" id="nomeCompleto" maxlength="35"
      style="margin-left: 0.5rem; " required>
      <div *ngIf="(formValidation.get('nomeCompleto')?.invalid && formSubmitted) && !formReset" class="validation-error">
        <p *ngIf="formValidation.get('nomeCompleto')?.errors?.['required']" class="message-error-formValidation ">
          Informe o nome completo
        </p>
      </div>
    </div>

    <div style="padding: 1rem;">
      <label for="cpf" class="titulo-item">CPF</label>
      <input type="text" class="" name="cpf" mask="000.000.000-00" formControlName="cpf" id="cpf" style="margin-left: 0.5rem; "
      required>
      <div *ngIf="(formValidation.get('cpf')?.invalid && formSubmitted) && !formReset" class="validation-error">
        <ng-container *ngIf="formValidation.get('cpf')?.errors?.['required']; else cpfIncorreto">
          <p class="message-error-formValidation">Informe o CPF</p>
        </ng-container>
        <ng-template #cpfIncorreto>
          <p class="message-error-formValidation">CPF incorreto</p>
        </ng-template>
      </div>
    </div>


    <!--

    <select #equipamentoValid  name="equipamento" formControlName="equipamentoSelect"
      (change)="onDescricaoValorChange(equipamentoValid.options[equipamentoValid.selectedIndex].text)">
        <option value=""></option>
        <option *ngFor="let item of optionsListaEquipamento" [value]="item.descricao" >
          {{ item.descricao }}
        </option>
    </select>

    -->

    <div style="margin-left: 0.5rem;">
      <label for="orgao-emissor" class="titulo-item">SSP/</label>
      <select #orgaoSelecionado name="orgao-emissor"
        class="form-control form-control-cadastro form-control-select" id="orgao-emissor"
        formControlName="orgaoSsp"
        (change)="onOrgaoEmissor(orgaoSelecionado.options[orgaoSelecionado.selectedIndex].text)"
        required>
        <option style="color: lightgray;"></option>
        <option *ngFor="let estado of optionOrgaoEmissor" [value]="estado.estado">
          {{ estado.estado }}
        </option>
      </select>
      <div *ngIf="(formValidation.get('orgaoSsp')?.invalid && formSubmitted) && !formReset" class="validation-error">
        <p class="message-error-formValidation">Campo obrigatório de RG</p>
      </div>
    </div>

    <div style="padding: 1rem;">
      <label for="rg" class="titulo-item">RG</label>
      <input type="text" formControlName="rg" name="rg" [mask]="rgMask" [dropSpecialCharacters]="false" id="rg"
        style="margin-left: 0.5rem;" maxlength="13" required>

      <div *ngIf="(formValidation.get('rg')?.invalid && formSubmitted) && !formReset" class="validation-error">
        <ng-container *ngIf="formValidation.get('rg')?.hasError('required')">
          <p class="message-error-formValidation">Informe o RG</p>
        </ng-container>
         <!-- Este bloco agora não contém nenhum conteúdo, pois você não quer exibir erros personalizados -->
      </div>

    </div>



    <div style="padding: 1rem;">
      <label for="email" class="titulo-item">E-mail</label>
      <input type="text" class="" name="email" formControlName="email" id="email" style="margin-left: 0.5rem; " required>
      <div *ngIf="(formValidation.get('email')?.invalid && formSubmitted) && !formReset" class="validation-error">
        <ng-container *ngIf="formValidation.get('email')?.errors?.['required']; else emailIncorreto" >
          <p class="message-error-formValidation">Informe um e-mail</p>
        </ng-container>
        <ng-template #emailIncorreto>
          <p class="message-error-formValidation">Declaração de e-mail incorreto  </p>
        </ng-template>
      </div>
        </div>
    </div>



  <div style="display: flex;">

    <div style="padding: 1rem;">

      <label for="telefone" class="titulo-item">Telefone</label>
      <input type="tel" class="" name="telefone" mask="(00) 0 0000-0000" formControlName="telefone" id="telefone" style="margin-left: 0.5rem; "
      required>
      <div *ngIf="(formValidation.get('telefone')?.invalid && formSubmitted) && !formReset" class="validation-error">
        <ng-container *ngIf="formValidation.get('telefone')?.errors?.['required']; else telefoneIncorreto">
          <p class="message-error-formValidation">Informe um telefone</p>
        </ng-container>
        <ng-template #telefoneIncorreto>
          <p class="message-error-formValidation">Telefone incorreto</p>
        </ng-template>
      </div>
    </div>

    <div style="margin-left: 0.5rem; ">
      <label for="telefone-para-contato" class="titulo-item">Telefone para contato</label>
      <input type="text" class="" name="telefone-para-contato"  mask="(00) 0 0000-0000" formControlName="telefoneContato"
      style="margin-left: 0.5rem; " id="telefone-para-contato">
      <div *ngIf="(formValidation.get('telefoneContato')?.invalid && formSubmitted) && !formReset" class="validation-error">
        <p class="message-error-formValidation">Telefone incorreto</p>
      </div>
    </div>

    <div style="margin-left: 0.5rem; ">
      <label for="nomeDoContato" class="titulo-item">Nome do contato</label>
      <input type="text" class="" name="nomeDoContato" formControlName="nomeDoContato"
      id="nomeDoContato" maxlength="45" required>
    </div>
    <div *ngIf="(formValidation.get('nomeDoContato')?.invalid && formSubmitted) && !formReset" class="validation-error">
      <p *ngIf="formValidation.get('nomeDoContato')?.errors?.['required']" class="message-error-formValidation ">
        Informe o nome do contato
      </p>
    </div>

    <div style="margin-left: 0.5rem;">
      <label for="data-de-nascimento" (click)="onClickFocusDataNascimentoLabel()" class="titulo-item">Data nascimento</label><br>
          <p-calendar
            formControlName="dataNascimento"
            id="data-de-nascimento"
            (onSelect)="onBlurDataNascimento()"
            (onInput)="onInputDataNascimento()"

            [required]="true"
            mask="'99/99/9999'"
            dataType="string"
            dateFormat="dd/mm/yy"
            class="custom-calendar"
            [styleClass]="'prime-ng-calendar'"
            name="dataNascimento"
            autoWidth="false"
            #calendarInput>
          </p-calendar>


          <div *ngIf="(formValidation.get('dataNascimento')?.invalid && formSubmitted) && !formReset" class="validation-error">
            <ng-container *ngIf="formValidation.get('dataNascimento')?.errors?.['required']; else dataNascimentoIncorreta">
              <p class="message-error-formValidation">Informe a data de nascimento</p>
            </ng-container>
            <ng-template #dataNascimentoIncorreta>
              <p class="message-error-formValidation">Data de nascimento incorreta</p>
            </ng-template>
          </div>

    </div>

  </div>


  <div style="display: flex;" >

    <div class="" style="margin-left: 0.5rem;">
      <label for="idade" class="titulo-item">Idade</label>
      <input type="number" class="form-control form-control-cadastro input-ajuste" name="idade" formControlName="idade" id="idade"
      required (focus)="onFocusIdade()">
    </div>


    <div style="margin-left: 0.5rem;">
      <label for="responsavel" class="titulo-item">Responsável</label>
      <input type="text" class="form-control form-control-cadastro" name="responsavel" formControlName="responsavel"
      id="responsavel" maxlength="45" required>
    </div>
    <div *ngIf="(formValidation.get('responsavel')?.invalid && formSubmitted) && !formReset" class="validation-error">
      <p *ngIf="formValidation.get('responsavel')?.errors?.['required']" class="message-error-formValidation ">
        Informe o nome do responsável do paciente menor de idade
      </p>
    </div>

    <div style="margin-left: 0.5rem;">
      <label for="estado-civil" class="titulo-item">Estado Civil</label>
      <select name="estado-civil" class="form-control form-control-cadastro form-control-select" id="estado-civil"
      formControlName="estadoCivil"  required>
        <option value="" style="color: lightgray;">Selecione</option>
        <option value="Solteiro">Solteiro(a)</option>
        <option value="Casado">Casado(a)</option>
        <option value="Divorciado">Divorciado(a)</option>
        <option value="Viuvo">Viuvo(a)</option>
        <option value="Outro">Outro</option>
      </select>
      <div *ngIf="(formValidation.get('estadoCivil')?.invalid && formSubmitted) && !formReset" class="validation-error">
        <p class="message-error-formValidation">Informe o estado civil</p>
      </div>
    </div>


    <div style="margin-left: 0.5rem;">
      <label for="filhos" class="titulo-item">Filhos</label>
      <select name="filhos" class="" formControlName="filhos" id="filhos" required>
        <option value="true">Sim</option>
        <option value="false">Não</option>
      </select>
    </div>


    <div style="margin-left: 0.5rem;">
      <label for="qtdFilhos" class="titulo-item">Qtd. de filhos</label>
      <input value="0" type="number" class="" name="qtdFilhos" formControlName="qtdFilhos" id="qtdFilhos" required >
      <div *ngIf="(formValidation.get('qtdFilhos')?.invalid && formSubmitted) && !formReset && formQtdFilhos" class="validation-error">
        <p class="message-error-formValidation">Informe a quantidade</p>
      </div>
    </div>

    <div style="margin-left: 0.5rem;">
      <label for="grau-escolaridade" class="titulo-item">Grau de escolaridade</label>
      <select type="text" name="grau-escolaridade" class="" formControlName="grauEscolaridade" id="grau-escolaridade" required>
        <option value="" style="color: lightgray;">Selecione</option>
        <option value="Doutorado">Doutorado</option>
        <option value="Ensino Fundamental Completo">Ensino Fundamental Completo</option>
        <option value="Ensino Fundamental Incompleto">Ensino Fundamental Incompleto</option>
        <option value="Ensino Médio Completo">Ensino Médio Completo</option>
        <option value="Ensino Médio Incompleto">Ensino Médio Incompleto</option>
        <option value="Ensino Superior Completo">Ensino Superior Completo</option>
        <option value="Ensino Superior Incompleto">Ensino Superior Incompleto</option>
        <option value="Mestrado">Mestrado</option>
        <option value="Pós-graduação">Pós-graduação</option>
      </select>

      <div *ngIf="(formValidation.get('grauEscolaridade')?.invalid && formSubmitted) && !formReset" class="validation-error">
        <p class="message-error-formValidation">Informe o grau de escolaridade</p>
      </div>
    </div>

  </div>

  <div style="display: flex;">

    <div style="margin-left: 0.5rem;" >
      <label for="profissao" class="titulo-item">Profissão</label>
      <input type="text" name="profissao" class="" formControlName="profissao" id="profissao" maxlength="50"
      required>
      <div *ngIf="(formValidation.get('profissao')?.invalid && formSubmitted) && !formReset" class="validation-error">
        <ng-container *ngIf="formValidation.get('profissao')?.errors?.['required']; else profissaoIncorreta">
          <p class="message-error-formValidation">Informe a profissão</p>
        </ng-container>
        <ng-template #profissaoIncorreta>
          <p class="message-error-formValidation">Valor minimo 3 caracteres</p>
        </ng-template>
      </div>
    </div>

    <div style="margin-left: 0.5rem;">
      <label for="cep" class="titulo-item">CEP</label>
      <input type="text" name="cep" class="" formControlName="cep" id="cep" mask="00000-000" maxlength="9" required>
      <div *ngIf="(formValidation.get('cep')?.invalid && formSubmitted) && !formReset" class="validation-error">
        <ng-container *ngIf="formValidation.get('cep')?.errors?.['required']; else cepIncorreto">
          <p class="message-error-formValidation">Informe o CEP</p>
        </ng-container>
        <ng-template #cepIncorreto>
          <p class="message-error-formValidation">CEP inválido</p>
        </ng-template>
      </div>
    </div>


    <div style="margin-left: 0.5rem;">
      <label for="logradouro" class="titulo-item">Rua</label>
      <input type="text" class="" name="logradouro" formControlName="logradouro" id="logradouro" required>
      <div *ngIf="(formValidation.get('logradouro')?.invalid && formSubmitted) && !formReset" class="validation-error">
        <p class="message-error-formValidation">Informe a rua</p>
      </div>
    </div>

    <div style="margin-left: 0.5rem;">
      <label for="numero" class="titulo-item">Número</label>
      <input type="number" class="" name="numero" formControlName="numero" id="numero" min="1" maxlength="60" required>
      <div *ngIf="(formValidation.get('numero')?.invalid && formSubmitted) && !formReset" class="validation-error">
        <ng-container *ngIf="formValidation.get('numero')?.errors?.['required']; else profissaoIncorreta">
          <p class="message-error-formValidation">Informe o número</p>
        </ng-container>
        <ng-template #profissaoIncorreta>
          <p class="message-error-formValidation">Número inválido</p>
        </ng-template>
      </div>
    </div>

    <div style="margin-left: 0.5rem;">
      <label for="complemento" class="titulo-item">Complemento</label>
      <input type="text" class="" name="complemento" formControlName="complemento" id="complemento" maxlength="45">
    </div>

    <div style="margin-left: 0.5rem;">
      <label for="bairro" class="titulo-item">Bairro</label>
      <input type="text" class="" name="bairro" formControlName="bairro" id="bairro" maxlength="40" required>
      <div *ngIf="(formValidation.get('bairro')?.invalid && formSubmitted) && !formReset" class="validation-error">
        <p class="message-error-formValidation">Informe o bairro</p>
      </div>
    </div>

  </div>

  <div style="display: flex;">

    <div style="margin-left: 0.5rem;">
      <label for="cidade" class="titulo-item">Cidade</label>
      <input type="text" class="" name="cidade" formControlName="cidade" id="cidade" required>
      <div *ngIf="(formValidation.get('cidade')?.invalid && formSubmitted) && !formReset" class="validation-error">
        <p class="message-error-formValidation">Informe a cidade</p>
      </div>
    </div>


    <div style="margin-left: 0.5rem;">
      <label for="uf" class="titulo-item">UF</label>
      <select  name="uf" class="" formControlName="uf" id="uf" required>
        <option *ngFor="let uf of  optionUf" [value]="uf.sigla">{{ uf.nome }}</option>
      </select>
      <div *ngIf="(formValidation.get('uf')?.invalid && formSubmitted) && !formReset" class="validation-error">
        <p class="message-error-formValidation">Informe um estado</p>
      </div>
    </div>



  </div>

  <div style="display: flex;">

    <div style="margin-left: 0.5rem; width: 80%;">
      <label for="queixa" class="titulo-item">Queixa</label>
      <textarea
        name="queixa"
        style="width: 100%; height: 120px;"
        class="" formControlName="queixa" id="queixa"   required></textarea>

      <div *ngIf="(formValidation.get('queixa')?.invalid && formSubmitted) && !formReset" class="validation-error">
        <p class="message-error-formValidation">Descreva a queixa do paciente</p>
      </div>

    </div>

  </div>


  <div style="padding: 1rem;">
    <button type="button" (click)="editar()">Editar</button>
    <button type="button" (click)="redefinirDados()" [disabled]="!isEditing">Redefinir</button>
    <button type="submit" [disabled]="!isEditing">Salvar e Atualizar</button>
  </div>


</form>


<br><br>
<span style="color: tomato;"><b>Observações e pendencias pausadas:</b></span>
<ul style="color: tomato;">
  <li>
    Parei no compo qtdFilhos, agora vai aparecer "0" quando não tiver. Com esta modificação precisamos implementar um validador que
    se o campo "filhos" estiver como "Sim"  e qtdFilhos com "0" nao pode passar, o erro deve ser emitido e só pode aceitar a partir
    de "1". Esse validador precisa ser via valueChanges usando Subscribe para observar o comportamento do valores
  </li>
</ul>


<!-- Modal -->
<div class="modal fade" id="modalCpf" tabindex="-1" role="dialog" aria-labelledby="modalCpf" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalCpf">Alteração de CPF</h5><hr>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Ao atualizar o CPF do paciente é necessário reiniciar o acesso ao perfil.
          Você será redirecionado a tela principal de pacientes.
        </p>

        <p>Deseja prosseguir ?</p>
      </div>
      <div class="modal-footer">
        <img *ngIf="loadingModalCpf" src="../../../../../../../assets/img/loadingo-menu.gif"
        alt="Loading" style="height: 35px; margin-right: 5px;">
        <button type="button" class="btn btn-primary" (click)="atualizarEProsseguir()">Atualizar e Prosseguir</button>
        <button type="button" class="btn btn-secondary" (click)="closeModal()" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>








</div>


