@import '../../styles-variaveis-globais.scss';



/*********************************** MEDIDAS GENÉRICAS ***********************************/


/**
* Grid - A partir de 576px à 767px
* Bootstrap - Small .col-sm-
* Dispositivo alvo: Smartphones em modo paisagem e alguns dispositivos menores, como tablets compactos.
*/
@media(max-width: 767px) {


  .col-filha-container-direito {
    background-color: black;
    width: 100% !important;
    justify-content: flex-start !important;
    padding: 0 !important;
  }

  .col-filha-container-direito-filha {
    width: 24rem;
    justify-content: flex-start;
  }

  .col-filha-container-esquerdo {
    position: fixed;
    height: $TelaPaciente__altura_menu_superior__max_width_543 !important;
    top: 54px; /* Mais encostado possível */
    z-index: 1;
    padding: 0 1rem !important;
  }

  .container-mobile-usuario {
    display: flex !important;
    height: 100%;
    width: 100%;
    background: black;
    color: #fff;
    align-items: center;
    justify-content: flex-end !important;
    padding-right: 1.3rem;
  }

  .img-logo {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .tipo-perfil {
    padding: 0 !important;
  }

  .menu-hamburguer-mobile {
    display: block !important;
    height: 42px;
  }

  .nome-paciente {
    font-size: $titulo_h4_screen_tela_mobile !important;
  }

  /*
  * Ocultando os outros componentes
  */
  .col-nome-paciente {
    display: none;
  }

  .menu-responsive-middle-disp-menores {
    background-color: brown;
    height: 100%;
    width: 100%;
  }

  .container-inferior {
    display: flex;
    justify-content: flex-end;
  }

  .tela-suspensa-documentos {
    margin-top: 0 !important;
    position: relative;
    top: 0;
  }

  /*
  * Menu dos itens
  * Transformando o menu dos em um menu vertical
  */
  .menu-suspenso-documentos {
    position: fixed;
    width: 15rem;
    right: 1.2333rem;
    background-color: aqua;
    top: 6rem;
    z-index: 1;
    border-radius: .5rem;

    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.15s ease, height 0.1s ease;
  }

  .menu-suspenso-documentos.visible {
    opacity: 1;
    height: auto;
  }

  .menu-suspenso-documentos.hidden {
    opacity: 0;
    height: 0;
  }



  .ul-container {
    padding: 0 !important;
    margin: 0 !important;
  }

  .ul-container li {
    padding: 8px !important;
    justify-content: flex-start !important;
  }

  .ul-container li:hover {
    cursor: pointer;
  }

  .ul-container li:active {
    background-color: lightgoldenrodyellow
    ;
  }



  .li-sair-do-perfil-mobile, .li-encerrar-mobile {
    display: block !important;
  }
  .li-sair-do-perfil-mobile:hover, .li-encerrar-mobile:hover {
    cursor: pointer;
  }





}


/**
* @media para desativar o efeito mobile/tablet
*/
@media(min-width: 768px) {

  .container-mobile-usuario {
    display: none !important;
  }

  .li-sair-do-perfil-mobile, .li-encerrar-mobile {
    display: none !important;
  }

  .menu-suspenso-documentos {
    display: block ;
    position: relative;
  }

  .menu-hamburguer-mobile {
    display: none !important;
  }
}


/**
* Grid - A até 429px
* Bootstrap - Small
* Dispositivo alvo: Smartphones
*/
@media (max-width: 429px) {

  .container-inferior {
    display: flex;
    justify-content: flex-end;
  }

  .tela-suspensa-documentos {
    margin-top: 0 !important;
    position: relative;
    top: 2.7rem !important;
  }


  /*
  * Menu dos itens
  * Transformando o menu dos em um menu vertical
  */
  .menu-suspenso-documentos {
    display: block;
    position: fixed;
    width: 15rem;
    right: 1.2333rem;
    background-color: aqua;
    position: fixed;


    top: 6rem;
    z-index: 1;

    /* Transição suave */
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.2s ease, height 0.1s ease;
  }
  .menu-suspenso-documentos.visible {
    opacity: 1;
    height: auto;

  }
  .menu-suspenso-documentos.hidden {
    opacity: 0;
    height: 0;
  }


  .ul-container {
    flex-direction: column;
  }

  .ul-container li {
    padding: 8px !important;
    justify-content: flex-start !important;
  }



  // .ul-container li:nth-child(1) {
  //   border-top-left-radius: 6px; /* Raio do canto superior esquerdo */
  //   border-top-right-radius: 6px;
  //   position: fixed;
  //   z-index: 1000;
  // }

  .li-sair-do-perfil-mobile, .li-encerrar-mobile {
    display: block !important;

  }

  // .ultima-posicao {
  //   border-bottom-left-radius: 6px; /* Raio do canto superior esquerdo */
  //   border-bottom-right-radius: 6px;
  // }


}

@media(max-width: 465px) {
  .menu-hamburguer-mobile {
    height: 40px;
  }
}




/*********************************** MEDIDAS EXCLUSIVAS ***********************************/

/**
* Grid - A até 543px
* Bootstrap - Small
* Dispositivo alvo: Pré-Smartphones
*/
@media (min-width: 430px) and (max-width: 543px) {

  .col-nome-paciente {
    width: 100%;
    height: 100%;
    background-color: lightseagreen;
  }

}







