<div class="container-fluid">
  <app-menu-paciente></app-menu-paciente>
  <div class="row container-inferior">
    <div  [ngClass]="{ 'visible': alteracaoDisplayService.menuVisible$ | async, 'hidden': !(alteracaoDisplayService.menuVisible$ | async) }"
    class="col-2-personalizada menu-suspenso-documentos">
      <!-- Adicionar um ngIf - Dependendo do perfil (Psicologia ou Neuropsicologia) o menu muda -->

      <!-- PERFIL PSICOLOGIA -->

      <ul class="ul-container" *ngIf="perfil === 'psicologia'">
          <li *ngFor="let item of itensMenuPsicologia" (click)="selecionarItem(item); fecharMenu()">
              <span [ngClass]="{'active': itemSelecionado === item.path}">{{ item.label }}</span>
              <img
              *ngIf="(loadingDocumentosService.boolean$ | async) &&
              itemSelecionado === item.path &&
              (!loadingDocumentosService.getRenderizado())"
          src="../../assets/img/loadingo-menu.gif" alt="Loading" class="loading-li" style="height: 20px; margin-left: 5px;">
          </li>
          <li class="li-sair-do-perfil-mobile" (click)="redirectMenu(); fecharMenu()">Sair do perfil</li>
          <li class="li-encerrar-mobile ultima-posicao" (click)="encerrarSessao(); fecharMenu()">Encerrar sessão</li>

      </ul>


      <!-- PERFIL NEUROPSICOLOGIA -->

      <ul class="ul-container" *ngIf="perfil === 'neuropsicologia'">
        <li *ngFor="let item of itensMenuNeuropsicologia" (click)="selecionarItem(item)">
            <span [ngClass]="{'active': itemSelecionado === item.path}">{{ item.label }}</span>
            <img
              *ngIf="
                (loadingDocumentosService.boolean$ | async) &&
                itemSelecionado === item.path &&
                 (!loadingDocumentosService.getRenderizado())"
                src="../../assets/img/loadingo-menu.gif"
                alt="Loading" class="loading-li" style="height: 20px; margin-left: 5px;">
        </li>
        <li class="li-sair-do-perfil-mobile" (click)="redirectMenu()">Sair do perfil</li>
        <li class="li-encerrar-mobile ultima-posicao" (click)="encerrarSessao()">Encerrar sessão</li>
      </ul>


      <ul style="padding: 1rem 0 0 1rem;  display: none;   " class="aviso" >
        <small>
          Atenção: <span style="color: red;">
            Para cada componente que representa o item, sempre quando voce for finalizar este componente,
            voce precisa obrigatóriamente encerrar o siclo do loading do container pai para atulizar o
            siclo no angular, para não tomar NG100 ERROR. <u>
              Sempre quando chamar o router criando um
              mecanismo para sair da tela atual é preciso atualizar o loading para 'false'
            </u><br><br>

            A service responsável é a LoadingDocumentosService

          </span>
        </small>
      </ul>




    </div>

    <div class="col tela-suspensa-documentos">
      <div class="fundo-template"
        style="
          background-color: #fff;
          width: 100%;
          height: 100%; /* Sujeito a alteração responsiva */
          background-color: #bebebe;
          display: flex;
          align-items: flex-start;
          justify-content: center;
          overflow-y: auto;
        ">

        <!-- Para folha A4 - Apresentação Jasper Reports -->
        <!-- <div
          style="
            width: 210mm;      /* A4 - largura */
            height: 297mm;     /* A4 - altura - 29.7cm;  */
            background-color: #fff;
            margin-top: 2rem;
            margin-bottom: 2rem;
        ">
          A4
        </div> -->



        <router-outlet (notifyParent)="onNotify()" ></router-outlet>
      </div>
    </div>






  <!-- fechamento container-fuid -->
</div>


<span style="
height: 45px;
position: fixed;
top: 200px;    /* Autera os lados aqui */
right: -8px;   /* Autera os lados aqui */
background-color: #f9f9f9;
border: 1px solid #ccc;
border-radius: 5px;
padding: 10px;
box-shadow: 0 0 0 rgba(6, 12, 2, 0.5);
">   <!-- Teste responsividade -->
<p>LxA: <b style="color: blue;">{{ this.calculadorDeTelaModoDev.largura }}</b><small>px</small> x
<b style="color: blue;">{{ this.calculadorDeTelaModoDev.altura }}</b><small>px</small></p>
</span>
