@import '../../styles-variaveis-globais.scss';

/*

  LISTA DE TODAS AS RESOLUÇÕES PARA TELAS GRANDES

  1280x800
  1366x768
  1440x900
  1600x900
  1680x150
  1920x1080
  1920x1200
  1920x1080
  2880x1800

*/



/*********************************** MEDIDAS GENÉRICAS ***********************************/


/**
* Estilização global para as Queries media
* A partir de 1200px
*/
@media(min-width: 1031px) {

  .container-telas-maiores {
    display: block !important;

  }
  .span-sair-telas-maiores {
    margin-left: 1rem;
    margin-left: 1rem;
  }
  .span-sair-telas-maiores:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .col-2-personalizada {
    width: 14.5rem !important; /* Definição de largura junto à largura do menu suspenso */
  }
}

/**
* Desativando visibilidade para telas menores
*/
@media(max-width: 1030px) {
  .container-telas-maiores {
    display: none !important;
  }
}



/**
* Estilização global para as Queries media
* A partir de 1600px
*/
@media(min-width: 1601px) {

  .row-container-superior {
    height: $TelaPaciente__altura_menu_superior__min_width_1601;
    min-height: $TelaPaciente__altura_menu_superior__min_width_1601;
    max-height: $TelaPaciente__altura_menu_superior__min_width_1601;
  }

  .col-2-personalizada {
    width: 14.5rem !important; /* Definição de largura junto à largura do menu suspenso */
  }

  .col-2-personalizada .ul-container li {
    background-color: tomato;
    // font-size: 15px !important;
  }

  .col-filha-container-direito {
    padding: 0 1.6rem 0 1rem;
  }

  .img-logo {
    height: 75px;
    margin-bottom: -4px;
  }

  .tipo-perfil {
    font-size: 1.6rem;  /* Medida de escala */
  }


  /*
  * Larguras definidas e padronizadas em Javascript
  */
  .largura_personalizada_min_width_1601_psicologia {
    width: $TelaPacienteDivPerfil_Psicologia__min_width_1601 ;
  }

  .largura_personalizada_min_width_1601_neuropsicologia {
    width: $TelaPacienteDivPerfil_Neuropsicologia__min_width_1601;
  }



}


@media(max-width: 1600px) {
  .row-container-superior {
    height: $TelaPaciente__altura_menu_superior__max_width_1600;
    min-height: $TelaPaciente__altura_menu_superior__max_width_1600;
    max-height: $TelaPaciente__altura_menu_superior__max_width_1600;
  }

  .col-filha-container-direito {
    padding: 0 2.2rem 0 1rem;
  }

  .img-logo {
    height: 61px;
    margin-bottom: -2px;
  }

  .tipo-perfil {
    font-size: 1.5rem;  /* Medida de escala */
  }


  /*
  * Larguras definidas e padronizadas em Javascript
  */
  .largura_personalizada_min_width_1200__and__max_width_1600_psicologia {
    width: $TelaPacienteDivPerfil_Psicologia__min_width_1200__and__max_width_1600;
  }

  .largura_personalizada_min_width_1200__and__max_width_1600_neuropsicologia {
    width: $TelaPacienteDivPerfil_Neuropsicologia__min_width_1200__and__max_width_1600;
  }

}


/**
* Estilização global para as Queries media
* A partir de 1680px
*/
@media(min-width: 1680px) {

}


/**
* Medida global mínima de 1920px
*/
@media(min-width: 1920px) {

}




/*********************************** MEDIDAS EXCLUSIVAS ***********************************/


@media (min-width: 1200px) and (max-width: 1600px) {
  .ul-container li span {
    font-size: $font_size__screen_1200_AND_1600;
  }
}


/**
* Grid Extra Large - A partir de 1200px
* Bootstrap - Extra large .col-xl-
* Dispositivo alvo: Desktops com telas grandes e monitores de alta resolução.
*/
@media(min-width: 1200px) and (min-height: 769px) {

}


/*
* Query para definição de altura para telas menores com altura de até 768px
* Para notebooks menores antigos: 1366 x 800
*
* Esta query engloba todos as resoluções abaixo
*/
@media(min-width: 1200px) and (max-height: 800px) {

}


  /**************** DISPOSITIVOS PERSONALIZADOS COM ALTURA E LARGURA PRÓPRIA ******************/
                    /**************** NÃO OBRIGATÓRIOS ******************/

/*
* Resolução para notebooks de largura e altura de 1280 x 800
* MacBook Pro 13 (2011) 13.3 polegadas
* Testado Ok
*/
@media (width: 1280px) and (height: 800px) {

}



/*
* Resolução para notebooks de largura e altura de 1366 x 768
* MacBook Air 11 - 11.6 polegadas
* Obs: Um dos notebooks menores padronizados
* Testado
*/
@media (width: 1366px) and (height: 768px) {

}


/*
* Resolução para notebooks de largura e altura de 1440 x 900
* MacBook Air 13 (2011) 13.3 polegadas
*/
@media (width: 1440px) and (height: 900px) {

}


/*
* Resolução para notebooks de largura e altura de 1600 x 900
* HP Envy Spectre 14 - 14 polegadas
* Obs: Dispositivo com altura média alta
* Testado Ok
*/
@media (width: 1600px) and (height: 900px) {

}






/*
* Resolução para notebooks de largura e altura de 1680 x 1050
* MacBook Air 13 (2011) 13.3 polegadas
* Obs: Este dispositivo possui a tela muito alta
* Testado OK
*/
@media (width: 1680px) and (height: 1050px) {

}



/*
* Resolução para notebooks de largura e altura de 1920 x 1200
* MacBook Pro 17 (2011) - 17 polegadas
* Obs: Essa configuração é a ultima como referência para as demais @queries abaixo
* Resolução ideal do cliente: Psicologa Marcia Regina
* Testado ok
*/
@media (min-width: 1920px) and (min-height: 1080px) {

}







/*
* Resolução para notebooks de largura e altura de 1920 x 1200
* Lenovo T61p - 14.1 polegadas
* Obs:
* Testado
*/
@media (width: 1920px) and (height: 1200px) {

}


/*
* Resolução para notebooks de largura e altura de 1920 x 1080
* Sony Vaio Z 13.1 (2012) - 13.1 polegadas
* Obs:
* Testado
*/
@media (width: 1920px) and (height: 1080px) {/*NÃO É NECESSÁRIO*/}



/*
* Resolução para notebooks de largura e altura de 2880 x 1800
* MacBook Pro 15 (Retina) - 15.4 polegadas
* Obs:
* Testado
*/
@media (width: 2880px) and (height: 1800px) {/*NÃO É NECESSÁRIO*/}






