@import '../../styles-variaveis-globais.scss';

/**
* Grid - A partir de 992px à 1199px
* Bootstrap - Large .col-lg-
* Dispositivo alvo: Notebooks e desktops com telas menores
*/
@media (min-width: 992px) and (max-width: 1199px) {



}




/**** EXCESSÕES ****/

/*
* Alcance máximo de largura de uma A4 suportada pela menu vertical esquerdo
*/
@media(max-width: 1017px) {

  /*
  * Configurações para menu horizontal
  */
  .col-2-personalizada {
    width: 100% !important;
    height: 55px;
  }

  .col-2-personalizada ul {
    display: flex;
    width: 100%;
    height: 100%;
    margin-bottom: 0 !important;
  }

  .col-2-personalizada ul li {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
  }

  .col-2-personalizada ul li span {
    padding: 0 !important;
  }

  .ul-container {
    padding: 0 !important;
  }

  .tela-suspensa-documentos {
    margin-top: 0.39rem !important;
  }

  /* Desativando loading no DOM */
  .loading-li {
    display: none;
  }

  .ul-container li:active {
    background-color: blue;
  }

  .ul-container li span:hover,
  .ul-container li span.active {
    cursor: pointer;
    background-position: 0; /* Retirando efeito */
    background-size: 0;     /* Retirando efeito */
  }

}

/*
* Query para definição de altura para telas menores com altura de até 531px
*/
@media(min-width: 1018px)  {
  .col-2-personalizada {
    width: $tela_paciente__largura_col_2_lado_esquerdo; /* Definição de largura junto à largura do menu suspenso */
  }
}
