@import '../../styles-variaveis-globais.scss';



/*********************************** MEDIDAS GENÉRICAS ***********************************/



@media(max-width: 1030px) {

  .loading-li {
    display: none !important;
  }

  .row-container-superior {
    height: $TelaPaciente__altura_menu_superior__max_width_768_a_max_width_1017;
    min-height: $TelaPaciente__altura_menu_superior__max_width_768_a_max_width_1017;
    max-height: $TelaPaciente__altura_menu_superior__max_width_768_a_max_width_1017;
  }

  .col-filha-container-esquerdo {
    background-color: $tema_paciente__cor_de_fundo_menu_vertical !important;
  }

  .col-filha-container-esquerdo .nome-paciente,
  .container-middle-responsive-768-end-1030 .nick-name {
    color: $tema_paciente__cor_tipografia_menu;
  }


  .img-logo {
    height: 48px;
    margin-bottom: -5px;
  }

  .tipo-perfil, .nome-paciente {
    font-size: $titulo_h4_screen_telas_menores_ate_1600;  /* Medida de escala */
  }

}


/**
* @media para desativar o efeito mobile/tablet
*/
@media(min-width: 1031px) {

  .li-sair-do-perfil-mobile, .li-encerrar-mobile {
    display: none !important;
  }
}






/*********************************** MEDIDAS EXCLUSIVAS ***********************************/



/**
* Grid para atingir o limite da página A4
*/
@media(min-width: 768px) and (max-width: 1030px) {



}

@media(max-width: 767px)  {
  .container-middle-responsive-768-end-1030 {
    display: none !important;
  }
}
@media(min-width: 1031px) {
  .container-middle-responsive-768-end-1030 {
    display: none !important;
  }
}



/**
* Grid - A partir de 768px à 991px
* Bootstrap - Medium .col-md-
* Dispositivo alvo: Tablets grandes e notebooks menores
*/
@media (min-width: 768px) and (max-width: 1030px) {

  /* Menu vertical tablet */
  .menu-suspenso-documentos {
    display: flex !important;
    width: 100% !important;
    height: 3rem;
    padding: 0;
    background: white;
    // border: 1px solid #ccc;

  }




  .tela-suspensa-documentos {
    margin-top: -1px !important;
  }

  .ul-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
    margin: 0 !important;
  }

  .ul-container li {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .ul-container li span {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0 !important;
  }


  /*
  * Larguras definidas e padronizadas em Javascript
  */
  .largura_personalizada_min_width_768_max_width_1017_psicologia {
    width: $TelaPacienteDivPerfil_Psicologia__min_width_768__and__max_width_1017;
  }

  .largura_personalizada_min_width_768_max_width_1017_neuropsicologia {
    width: $TelaPacienteDivPerfil_Neuropsicologia__min_width_768__and__max_width_1017;
  }


}

/**
* Medidas para iPhone
*/

@media (min-width: 1018px) and (max-width: 1030px) {
  .menu-suspenso-documentos {
    height: 3rem;
  }

}


/**
* Grid - A partir de 431px à 880px
* Bootstrap - Medium .col-md-
* Dispositivo alvo: Tablets menores
*/
@media (min-width: 431px) and (max-width: 880px) {

  .menu-suspenso-documentos {
    display: block !important;
  }

}







/* Ajuste de adequação do menu horizontal */

// @media(max-width: 919px) { .item5 span { background: wheat; }}

// @media(min-width: 768px) and (max-width: 901px) { .ul-container li:nth-child(6) span { width: 50% !important; }}
