@import '../../styles-variaveis-globais.scss';



/*********************************** MEDIDAS GENÉRICAS ***********************************/


@media(max-width: 1017px) {

  .row-container-superior {
    height: $TelaPaciente__altura_menu_superior__max_width_768_a_max_width_1017;
    min-height: $TelaPaciente__altura_menu_superior__max_width_768_a_max_width_1017;
    max-height: $TelaPaciente__altura_menu_superior__max_width_768_a_max_width_1017;
  }




  .img-logo {
    height: 48px;
    margin-bottom: -5px;
  }

  .tipo-perfil {
    font-size: 1.4rem;  /* Medida de escala */
  }

}


/**
* @media para desativar o efeito mobile/tablet
*/
@media(min-width: 1017px) {

  .li-sair-do-perfil-mobile, .li-encerrar-mobile {
    display: none !important;
  }
}






/*********************************** MEDIDAS EXCLUSIVAS ***********************************/



/**
* Grid - A partir de 768px à 991px
* Bootstrap - Medium .col-md-
* Dispositivo alvo: Tablets grandes e notebooks menores
*/
@media (min-width: 768px) and (max-width: 1017px) {





  /* Menu vertical tablet */
  .menu-suspenso-documentos {
    display: block !important;
    position: absolute;
    top: 50px;
    right: 20px;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
  }

  .menu-suspenso-documentos {
    display: none; // estado padrão, escondido
    position: absolute;
    top: 20%; // ajuste conforme necessário
    left: 0;
    z-index: 999; // para garantir que fique acima
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 6px;
    transition: all 0.2s ease-in-out;
  }

  .menu-suspenso-documentos.visible {
    display: block !important;
  }

  .menu-suspenso-documentos.hidden {
    display: none !important;
  }


  .tela-suspensa-documentos {
    margin-top: -1px !important;
  }


  .ul-container li span {
    display: flex;
    align-items: center;
    justify-content: center;
  }


  /*
  * Larguras definidas e padronizadas em Javascript
  */
  .largura_personalizada_min_width_768_max_width_1017_psicologia {
    width: $TelaPacienteDivPerfil_Psicologia__min_width_768__and__max_width_1017;
  }

  .largura_personalizada_min_width_768_max_width_1017_neuropsicologia {
    width: $TelaPacienteDivPerfil_Neuropsicologia__min_width_768__and__max_width_1017;
  }


}





/**
* Grid - A partir de 431px à 880px
* Bootstrap - Medium .col-md-
* Dispositivo alvo: Tablets menores
*/
@media (min-width: 431px) and (max-width: 880px) {

  .menu-suspenso-documentos {
    display: block !important;
  }

}







/* Ajuste de adequação do menu horizontal */
@media(min-width: 768px) and (max-width: 876px) {  .ul-container li:nth-child(5) span { position: relative; left: 25%; }}
@media(min-width: 768px) and (max-width: 823px) {  .ul-container li:nth-child(5) span { position: relative; left: 24%; }}
@media(min-width: 768px) and (max-width: 791px) {  .ul-container li:nth-child(5) span { position: relative; left: 23%; }}
@media(min-width: 768px) and (max-width: 777px) {  .ul-container li:nth-child(5) span { position: relative; left: 22%; }}

@media(min-width: 768px) and (max-width: 791px) {  .ul-container li:nth-child(6) span { position: relative; left: 23%; }}
