



/**
* Grid - A partir de 576px à 767px
* Bootstrap - Small .col-sm-
* Dispositivo alvo: Smartphones em modo paisagem e alguns dispositivos menores, como tablets compactos.
*/
@media (min-width: 426px) and (max-width: 767px) {

}


@media (max-width: 767px) {
  .container-inferior {
    margin-top: 6rem;
  }

  /*
  * Transformando o menu em um menu vertical
  */
  .menu-suspenso-documentos {
    display: block;
    z-index: 1;
  }

  .ul-container {
    flex-direction: column;
  }

}

