<form action="">
  <div class="container-fluid pai">
    <div class="filho row">
      <div class="col-12">
        <!-- logo -->
        <img src="../../assets/img/logo-vertical-img.png" alt="">
      </div>
      <div class="col-12">
        <input type="text" class="form-control" id="login" aria-describedby="login" placeholder="Login">
        <input type="password" class="form-control" id="senha" aria-describedby="emailHelp" placeholder="Senha">
        <button type="submit" class="btn btn-primary btn-login" id="btn-entrar">Entrar</button>
      </div>



    </div>
  </div>
</form>
