<form (ngSubmit)="onLogin()" >
  <div class="container-fluid pai">
    <div class="filho row">
     <div class="col-12 div-contorno">
       <div class="col-12">
         <!-- logo -->
         <img src="../../assets/img/logo-vertical-img.png" alt="logo" class="img-fluid no-select-img">
       </div>
       <div class="col-12">
         <input type="text" class="form-control" id="login" aria-describedby="login" placeholder="Login"
         [(ngModel)]="usuario.login" name="login" value="bruno">
         <input type="password" name="senha" class="form-control" id="senha" aria-describedby="emailHelp"
         [(ngModel)]="usuario.senha" placeholder="Senha" value="12345678">
         <button type="submit" class="btn btn-primary btn-login" id="btn-entrar">Entrar</button>
       </div>

     </div>

     <div  class="col-12 error-message">message
     </div>

    </div>






    <!-- Mandar isso aqui e mais as configurações que estão nos arquivos .scss para o Dicionario CSS -->


    <!-- Teste de detecção de medida de tela -->

    <!-- <div>
      <ul>
        <li>
          <span class="larga" >
            Tamanho grande e larga - medida: min-width: 1602px
          </span>
        </li>
        <li>
          <span class="media">
            Tamanho médio - tela grande - medida: max-width: 1601px and min-width: 1301px
          </span>
        </li>
        <li>
          <span class="media_pequena">
            Tamanho médio - tela media - medida: max-width: 1300px and min-width: 1199px
          </span>
        </li>
        <li>
          <span class="pequena">
            Tamanho médio - tela media - medida: max-width: 1200px and min-width: 843px
          </span>
        </li>
      </ul>
    </div> -->

  </div>




</form>

<!-- criada -->
<!-- executando -->
<!-- finalizada -->
<!-- rollback -->


<table class="sprint"  >
  <thead>
    <tr class="left;" style="padding: 7pt;"><th colspan="3">Sprints</th></tr>
    <tr>
      <th class="left;">Sprint</th>
      <th class="left;">Iniciado</th>
      <th class="left;">Finalizado</th>
    </tr>
  </thead>


  <tbody>

    <tr class="criada">
      <td>
        Fazer validação dos inputs
        <ul>
          <li>No campo login todas as letras são minúsculas</li>
          <li>Definir tamanho mínimo e máximo para o campo login (senha não precisa)</li>
          <li>Unicidade: Verificar se o login já está em uso por outro usuário no sistema - Criar mecanismo no banco de dados</li>
          <li>Campo Senha: Complexidade: A senha deve ter uma combinação de letras maiúsculas, minúsculas, números e caracteres especiais para aumentar a segurança.</li>
          <li>Campo Senha: Tamanho mínimo: A senha deve ter um tamanho mínimo para garantir que seja forte o suficiente.</li>
        </ul>
      <td>02/set/2024 - 19:00</td>
      <td></td>
    </tr>

    <tr class="criada">
      <td>
        Colocar tempo limite de sessão, no máximo 3 horas
      <td>02/set/2024 - 19:00</td>
      <td></td>
    </tr>

    <tr class="criada">
      <td>
        Configurar a mensagem de erro caso a senha ou login sejam inválidos
      <td>03/set/2024 - 19:00</td>
      <td></td>
    </tr>



  </tbody>
</table>




