<form (ngSubmit)="onLogin()" [formGroup]="formValidation">
  <div class="container-fluid pai">
    <div class="filho row">
     <div class="col-12 div-contorno">
       <div class="col-12">
         <!-- logo -->
         <img src="../../assets/img/logo-vertical-img.png" alt="logo" class="img-fluid no-select-img">
       </div>
       <div class="col-12">
         <input type="text" formControlName="login" class="form-control" id="login" aria-describedby="login" placeholder="Login">
         <input type="password" formControlName="senha" class="form-control" id="senha" aria-describedby="emailHelp" placeholder="Senha">
         <button type="submit" class="btn btn-primary btn-login" id="btn-entrar">Entrar</button>
       </div>

     </div>

     <div  class="col-12 error-message">message</div>
    </div>

    <!-- Teste de detecção de medida de tela -->
    <!-- <div>
      <ul>
        <li>
          <span class="larga" >
            Tamanho grande e larga - medida: min-width: 1602px
          </span>
        </li>
        <li>
          <span class="media">
            Tamanho médio - tela grande - medida: max-width: 1601px and min-width: 1301px
          </span>
        </li>
        <li>
          <span class="media_pequena">
            Tamanho médio - tela media - medida: max-width: 1300px and min-width: 1199px
          </span>
        </li>
        <li>
          <span class="pequena">
            Tamanho médio - tela media - medida: max-width: 1200px and min-width: 843px
          </span>
        </li>
      </ul>
    </div> -->

  </div>


</form>



