@font-face {
  font-family: 'font-login';
  src: url('../../assets/fonts/omega/Omega-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


/**   ../../assets/fonts/omega/Omega-Light.otf
*   Responsividade para telas grandes 4K
*/
@media(min-width: 1602px) {
  .larga { background-color: green; color: white; }
}

.container-fluid   {
  height: 100vh;
}

.pai {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Containers */

.filho-row {
  height: 28.5em !important;
  width: 22.3rem !important;
  padding: 14px;
  // justify-content: center;
  border: 1px solid #bd96cb9c;  //bd96cb6e  tom mais claro
  border-radius: 6px;
  background-color: white;
  // box-shadow: 3px 3px 10px #bd96cb54; // old
  box-shadow: 5px 5px 13px rgba(189, 150, 203, 0.329412) !important;
}

/* Container principal pai da estrutura row interna */
.container-col-form {
  // display: flex;
  width: 100% !important;
  border: 1px solid #bd96cb8c;  //bd96cb9c
  border-radius: 4px;

}

/* Div para stilo de borda dentro do sistema de grid do bootstrap */
.container-form-filho-layout-row {
  // background-color: #C2386B;  //{Debug}\\
  height: 100%;
  border-radius: 4px !important;
}


.container-img, .container-form {
  display: flex;
  align-items: center;
  justify-content: center;
//   height: 50%;
//   max-height: 50% !important;
}

.container-img {
  // background-color: #00bfff8a; //{Debug}\\
  height: 60%;
  max-height: 60% !important;
}

.container-form {
  // background-color: #e6521c62; //{Debug}\\
  flex-direction: column !important;
  height: 40%;
  max-height: 40% !important;  /* Tamanho proporcional ao container-img */
}


/* Imagem logo */
.container-img #img-logo {
  height: 14.3666666rem; /* Tamanho oficial da imagem em tela grande */
}

.container-form #login {
  font-family: 'font-login';
}

.container-form #senha.focused::placeholder {
  color: transparent;
  letter-spacing: 0.1em;
}

.container-form #senha:active {
  letter-spacing: 0.1em;
}












//  /* style img */

// .filho > .div-contorno div:first-child {
//   //
//   text-align: center;
//   margin-bottom: 1rem;
// }
// .filho > .div-contorno div:first-child img {
//  height: 16.4666666em;
//  margin-top: 1em;
// }

// /* inputs */

// .input-text-container, .input-password-container {
//   display: flex;
//   align-items: center;
// }




// .filho > .div-contorno  div:nth-child(2)   {
//   // background-color: #e5fcf5;
//   // margin-top: 2em !important;
// }

// /* default login and senha */
// .filho > .div-contorno div:nth-child(2) .input-text-container #login,
// .filho > .div-contorno div:nth-child(2) .input-password-container #senha {

//   // display: inline;
//   // width: 100%;
//   height: 33px !important;
//   line-height: 33px;
//   // box-sizing: border-box; /* Inclui o padding na altura total */
//   // padding: 8px 9px;

//   // color: #523f5a;     //3f3f3f
//   // font-family: 'font-login', sans-serif;
//   // border-color: #bd96cb9c;
//   // outline: none;      /* Remove a borda de foco */
//   // box-shadow: none;   /* Remove a sombra de foco */
//   // font-size: 1rem;

// }

// .filho > .div-contorno div:nth-child(2) .input-text-container #login {
//   padding: 10px 6px;
//   margin-top: 3rem !important; /* Definição da altura da caixa aqui */
// }

// .filho > .div-contorno div:nth-child(2) .input-password-container #senha {
//   padding: 10px; /* Defina um padding */
//   font-size: 16px; /* Defina um tamanho de fonte */

// }

// /* senha */
// .filho > .div-contorno div:nth-child(2) #senha {
//   margin: 0.5em 0 1.5em;
// }

// /* fucus login and senha */
// .filho > .div-contorno div:nth-child(2) #login:focus,
// .filho > .div-contorno div:nth-child(2) #senha:focus {
//   border-color: #c199d08a;
//   box-shadow: 0 0 7px 0.4px #c199d0a8;
// }

// /* placeholder input */
// .filho > .div-contorno div:nth-child(2) #login::placeholder, textarea::placeholder {
//   color: #999999;
//   font-family: 'font-login', sans-serif;
//   // font-style: italic;
// }

/* Para lidar com o preenchimento automático */
// .filho > .div-contorno div:nth-child(2) .input-text-container #login {
//   // -webkit-box-shadow: 0 0 0 30px white inset; /* Remove o fundo do autofill */
//   // box-shadow: 0 0 0 30px white inset; /* Remove o fundo do autofill */
//   // transition: background-color 5000s ease-in-out 0s; /* Mantém a cor de fundo */
//   // font-family: Arial, sans-serif; /* Defina a fonte desejada */
//   // font-size: 16px; /* Defina o tamanho da fonte */
//   // line-height: 20px; /* Ajuste o line-height para centralizar verticalmente */

//   -webkit-user-select: text; /* Para navegadores baseados em WebKit (Safari, Chrome) */
//      -moz-user-select: text; /* Para o Firefox */
//       -ms-user-select: text; /* Para o Internet Explorer/Edge */
//           user-select: text;
// }

/* submit */
.filho > .div-contorno div:nth-child(2) #btn-entrar {
  width: 100%;
  height: 2.5em;
  font-family: 'font-login', sans-serif;
  font-weight: bold;
}


.btn-login {
  color: #fff;
  background-color: #e46896 !important;
  border-color: #e46896;
}

.btn-login:hover {
  color: #fff;
  background-color: #d15f8b !important; // ca5c86
  border-color: #d15f8b !important;
}

.btn-login:focus, .btn-login.focus {
  outline: none;
  box-shadow: none;
}

.btn-login.disabled, .btn-login:disabled {
  color: #fff;
  background-color: #cacaca !important;
  border-color: #cacaca !important;
}

.btn-login:not(:disabled):not(.disabled):active, .btn-login:not(:disabled):not(.disabled).active,
.show > .btn-login.dropdown-toggle {
  color: #fff;
  background-color: #C2386B !important;
  border-color: #C2386B !important;
  // background-color: #0062cc;
  // border-color: #005cbf;
}

.btn-login:not(:disabled):not(.disabled):active:focus, .btn-login:not(:disabled):not(.disabled).active:focus,
.show > .btn-login.dropdown-toggle:focus {
  // box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
  outline: none;
  box-shadow: none;
}



.error-message {
  height: 2.6rem !important;
  background-color: aquamarine;
  margin-top: 2.5em;
  text-align: center;
  font-style: italic;
  color: #ff5050;
  font-size: 14px;
  // font-weight: bold;
}


.img-loading {
  height: 47px;
  margin-top: 0.7em;
}






