/* laptops pequenos */
@media (max-width: 1200px)  {

  .pequena {
    background-color: #2b2bca;
    color: #fff;
  }

  /* box-login */
  .filho {
    width: 20.0rem;         // diminuido a largura da caixa
    height: 27.5em;         // diminuido a altura da caixa
  }

  .filho > .div-contorno div:first-child img {
    height: 12.566666em;    // diferença de 3em para o largo
  }

  // /* inputs */
  .filho > .div-contorno div:nth-child(2) {
    // background-color: #e5fcf5;
    margin-top: -3.266667em;     // ajustado alutra

  }

  .filho > .div-contorno div:nth-child(2) #login,  .filho > .div-contorno div:nth-child(2) #senha {
    height: 29px;           // diminuido altura
    font-size: 15px;        // diminuido a fonte
    /* as propriedades de fonte estão definidas no style-middle-responsive */
  }

  .filho > .div-contorno div:nth-child(2) #btn-entrar {
    height: 2.1em;          // diminuido altura
    /* as propriedades de fonte estão definidas no style-middle-responsive */
  }





}
