@import url('../../styles.scss');


/* Estilo para telas pequenas e maiores (De 576px até 768px) */
@media (max-width: 767px) {

  .filho-row {
    width: 17rem !important;
  }

  #img-logo {
    height: 12.2666666rem;
    top: 1rem;
  }



}
