@font-face {
  font-family: 'font-login';
  src: url('../../assets/fonts/omega/Omega-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


/**   ../../assets/fonts/omega/Omega-Light.otf
*   Responsividade para telas grandes 4K
*/
@media(min-width: 1602px) {
  .larga { background-color: green; color: white; }
}

.container-fluid   {
  height: 100vh;
}

.pai {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filho {
  height: 33.5em;
  width: 24rem;
  display: flex;
  padding: 30px 14px 14px 14px;
  justify-content: center;
  border: 1px solid #bd96cb6e;
  border-radius: 6px;
  background-color: white;
  // box-shadow: 3px 3px 10px #bd96cb54; // old
  box-shadow: 5px 5px 13px rgba(189, 150, 203, 0.329412) !important;
}

.div-contorno {
  height: 103%;
  border: 1px solid;
  padding: 11px;
  margin-top: -1em;
  // margin-bottom: 1.3em;
  border-color: #c199d086;
  border-radius: 4px;
}

 /* style img */
.filho > .div-contorno div:first-child {
  // height: 290px;
  text-align: center;
  margin-bottom: 1rem;
}
.filho > .div-contorno div:first-child img {
 height: 16.4666666em;
 margin-top: 1em;
}

/* inputs */

.input-text-container, .input-password-container {
  display: flex;
  align-items: center;
}




.filho > .div-contorno  div:nth-child(2)   {
  // background-color: #e5fcf5;
  // margin-top: 2em !important;
}

/* default login and senha */
.filho > .div-contorno div:nth-child(2) .input-text-container #login,
.filho > .div-contorno div:nth-child(2) .input-password-container #senha {




  // display: inline;
  // width: 100%;
  height: 33px !important;
  line-height: 33px;
  // box-sizing: border-box; /* Inclui o padding na altura total */
  // padding: 8px 9px;
  padding: 10px 6px;
  // color: #523f5a;     //3f3f3f
  // font-family: 'font-login', sans-serif;
  // border-color: #bd96cb9c;
  // outline: none;      /* Remove a borda de foco */
  // box-shadow: none;   /* Remove a sombra de foco */
  // font-size: 1rem;

}

.filho > .div-contorno div:nth-child(2) .input-text-container #login {

}

.filho > .div-contorno div:nth-child(2) .input-password-container #senha {
  padding: 10px; /* Defina um padding */
  font-size: 16px; /* Defina um tamanho de fonte */
  line-height: 33px;
}

/* senha */
.filho > .div-contorno div:nth-child(2) #senha {
  margin: 0.5em 0 1.5em;
}

/* fucus login and senha */
.filho > .div-contorno div:nth-child(2) #login:focus,
.filho > .div-contorno div:nth-child(2) #senha:focus {
  border-color: #c199d08a;
  box-shadow: 0 0 7px 0.4px #c199d0a8;
}

/* placeholder input */
.filho > .div-contorno div:nth-child(2) #login::placeholder, textarea::placeholder {
  color: #999999;
  font-family: 'font-login', sans-serif;
  // font-style: italic;
}

/* Para lidar com o preenchimento automático */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset; /* Remove o fundo do autofill */
  box-shadow: 0 0 0 30px white inset; /* Remove o fundo do autofill */
  transition: background-color 5000s ease-in-out 0s; /* Mantém a cor de fundo */
  font-family: Arial, sans-serif; /* Defina a fonte desejada */
  font-size: 16px; /* Defina o tamanho da fonte */
  line-height: 20px; /* Ajuste o line-height para centralizar verticalmente */
}

/* submit */
.filho > .div-contorno div:nth-child(2) #btn-entrar {
  width: 100%;
  height: 2.5em;
  font-family: 'font-login', sans-serif;
  font-weight: bold;
}

.btn-login {
  color: #fff;
  background-color: #e46896 !important;
  border-color: #e46896;
}

.btn-login:hover {
  color: #fff;
  background-color: #d15f8b !important; // ca5c86
  border-color: #d15f8b !important;
}

.btn-login:focus, .btn-login.focus {
  outline: none;
  box-shadow: none;
}

.btn-login.disabled, .btn-login:disabled {
  color: #fff;
  background-color: #cacaca !important;
  border-color: #cacaca !important;
}

.btn-login:not(:disabled):not(.disabled):active, .btn-login:not(:disabled):not(.disabled).active,
.show > .btn-login.dropdown-toggle {
  color: #fff;
  background-color: #C2386B !important;
  border-color: #C2386B !important;
  // background-color: #0062cc;
  // border-color: #005cbf;
}

.btn-login:not(:disabled):not(.disabled):active:focus, .btn-login:not(:disabled):not(.disabled).active:focus,
.show > .btn-login.dropdown-toggle:focus {
  // box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
  outline: none;
  box-shadow: none;
}



.error-message {
  // background-color: aquamarine;
  margin-top: 2.5em;
  text-align: center;
  font-style: italic;
  color: #ff5050;
  font-size: 14px;
  // font-weight: bold;
}


.img-loading {
  height: 47px;
  margin-top: 0.7em;
}






