<div class="container-fluid">
  <div class="row menu-bar-pacientes">

    <div class="col-1 d-flex align-items-center justify-content-center"  style="background-color: #f9f9f9;">
      <img src="../../assets/img/img-logo-alfa.png" class=" img-menu no-select-img" alt="">
    </div>

    <div class="col-9 col-centro d-flex align-items-center pl-5"  style="background-color: #f9f9f9;">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link menu-item-link pb-4 pt-4"  [routerLink]="['/pacientes']">Home</a></li>
        <li class="nav-item ">
          <a class="nav-link menu-item-link pb-4 pt-4" href="#">Novo paciente</a></li>
        <li class="nav-item">
          <a class="nav-link menu-item-link pb-4 pt-4" href="#">Agenda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link menu-item-link pb-4 pt-4" href="#">Arquivo</a>
        </li>
      </ul>
    </div>

    <div class="col-2 col-dir d-flex align-items-center  justify-content-center "  style="background-color: #f9f9f9;">
      <div class="no-select d-flex flex-column justify-content-center">
        <p class="align-middle m-0 nick-name text-center">Olá, {{nomeLogin}}</p>
      </div>
      <a href="#" class="ml-5 link-logout" (click)="logout()">Sair</a>
    </div>




    </div>



    <div class="container-inferior">

       <div class="container-table">


        <table class="table table-hover ">
          <thead>
            <tr>
              <th colspan="4" style="text-align: center;">Pacientes</th>
            </tr>
            <tr>
              <th>
                <label for="">Pesquisar</label>
                <input type="text" name="" id="">
              </th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
              <td>twitter</td>
            </tr>





          </tbody>
        </table>



      </div>

    </div>
















