@import '../../styles.scss';


//vars

$altura_ideal_container_pacientes: 80vh;



$cor_tema_background_tabela: #f6dfeb;
// tom de azul escolhido - dfedff
// tom de azul da arvore - f3fcfc
// tom de lilaz - f8f3fc
$cor_das_bordas_oficial: #e4c3d4;
// 99bbe6
$cor_texto_thead_toda: #24161d;
// cor escolhida 01387a
$cor_backroung_hover_tr: #fff6fb !important;

/*

  Tema 1:  tema de azul
  $cor_tema_background_tabela: #dfedff;
  $cor_das_bordas_oficial: #9fc3f0;
  $cor_texto_thead_toda: #16325b;
  $background_color_botoes_tabela_scroll_hover: #275997;
  $borda_color_botoes_tabela: #77A1D6;
  $active_color_botoes_e_borda_tabela: #3a70b3;
  $cor_backroung_hover_tr: #f3f9ff !important;


  Tema 2: tema lilaz forte
  $cor_tema_background_tabela: #f6dfeb;
  $cor_das_bordas_oficial: #e4c3d4;
  $background_color_botoes_tabela_scroll: #995a8c;
  $cor_texto_thead_toda: #24161d;
  $background_color_botoes_tabela_scroll: #995a8c;
  $background_color_botoes_tabela_scroll_hover: #914c83;
  $borda_color_botoes_tabela: #995a8c;
  $active_color_botoes_e_borda_tabela: #7c3b6f;



  Tema 3: tom de azul da arvore - f3fcfc
  $cor_tema_background_tabela: #81dfdf;
  $cor_das_bordas_oficial: #6bcaca;

  Tema 4: Pessego
  $cor_tema_background_tabela: #f3ad85;
  $cor_das_bordas_oficial: #e29b71;

  tema 5: Amarelo ouro
  $cor_tema_background_tabela: #f0d793;
  $cor_das_bordas_oficial: #ddbf6d;


*/



/* Estilização do botão pesquisar e botão limpar - vars*/
$background_color_botoes_tabela_scroll: #995a8c;
$background_color_botoes_tabela_scroll_hover: #914c83;
$borda_color_botoes_tabela: #995a8c;
$active_color_botoes_e_borda_tabela: #7c3b6f;




/* Configurações da parte inferior a tabela */

/***** Coluna 1 *****/

.row-container-inferior {
  /* background-color: tomato; */
  width: 90%;
  height: 79.2vh; /* Altura ideal em combinação com tamanho de cada tr */
  overflow: hidden;
  margin: 3rem auto; /* Controle de autura e largura centralizada*/
  display: flex;
  flex-direction: column;
  // background-color: tomato;
}

/* Estilos 'cabeçalho' da tabela */
.col-12-container-div-cabecalho {
  background-color: $cor_tema_background_tabela;
  height: auto;
  padding: 0;
  margin: 0 !important;
  border: 1px solid $cor_das_bordas_oficial;
}

.row-container-div-cabecalho-interna {
  height: 100%;
  margin: 0 !important;
}

.container-titulo-tabela-do-cabecalho {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  font-size: 1.3rem;
  padding-top: .2rem;
  padding-bottom: .2rem;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid $cor_das_bordas_oficial;
  font-weight: 600;
}

.container-barra-de-pesquisa {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.row-container-barra-de-pesquisa-do-cabecalho {
  width: 100%;
  display: flex;
  // border-bottom: 1px solid $cor_das_bordas_oficial;
  margin: 0;
  padding-top: .3rem;
  padding-bottom: .3rem;
}

.col-1-container-barra-de-pesquisa-button-limpar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
}

.col-2-container-barra-de-pesquisa-form-pesquisa {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
}
.input-pesquisar {
  width: 200px;
  margin-right: 1rem;
  border: 1px solid $cor_das_bordas_oficial!important; /* Bootstrap */
  font-family: 'font-home';
}
.input-pesquisar:focus {
  box-shadow: none !important;
  border: 1px solid $background_color_botoes_tabela_scroll !important;
}

//cor de texto head inteira
.container-titulo-tabela-do-cabecalho, .row-filha-container-titulos-colunas-tabela div,
.input-pesquisar, .coluna-1-prontuario-th, .coluna-2-nome-completo-td, .coluna-3-idade-td,
.coluna-4-data-ultimo-atendimento-td, .coluna-5-perfil-td, .perfil-item {
  color: $cor_texto_thead_toda;
}

/* Estilização do botão pesquisar e botão limpar */

/* Botão limpar */
.botao-pesquisar {
  margin-right: 1rem;
  color: #fff;
  background-color: $background_color_botoes_tabela_scroll !important;
  border-color: $borda_color_botoes_tabela  !important;
  font-size: $tamanho_fonte_botao !important;
}
.botao-pesquisar:hover {
  background-color: $background_color_botoes_tabela_scroll_hover !important;
  border-color: $background_color_botoes_tabela_scroll_hover  !important;
}
.botao-pesquisar:disabled, .botao-pesquisar:disabled {
  color: #fff;
  background-color: $background_color_botoes_tabela_scroll !important;
  border-color: $background_color_botoes_tabela_scroll  !important;
}
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: $background_color_botoes_tabela_scroll_hover;
  border-color: $background_color_botoes_tabela_scroll_hover;
}
.botao-pesquisar:focus {
  box-shadow: none !important;
}
.botao-pesquisar:active {
  background-color: $active_color_botoes_e_borda_tabela !important;
  border-color: $active_color_botoes_e_borda_tabela  !important;
}

/* Botão limpar */
.botao-limpar {
  margin-left: 1rem;
  color: #fff;
  background-color: $background_color_botoes_tabela_scroll !important;
  border-color: $borda_color_botoes_tabela  !important;
}
.botao-limpar:hover {
  background-color: $background_color_botoes_tabela_scroll_hover !important;
  border-color: $borda_color_botoes_tabela  !important;
}
.botao-limpar:disabled, .botao-limpar:disabled {
  color: #fff;
  background-color: $background_color_botoes_tabela_scroll !important;
  border-color: $background_color_botoes_tabela_scroll  !important;
}
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: $background_color_botoes_tabela_scroll_hover;
  border-color: $background_color_botoes_tabela_scroll_hover;
}
.botao-limpar:focus {
  box-shadow: none !important;
}
.botao-limpar:active {
  background-color: $active_color_botoes_e_borda_tabela !important;
  border-color: $active_color_botoes_e_borda_tabela  !important;
}


.col-12-container-titulos-colunas-tabela {
  width: 100%;
  padding: 0;
}

/* Aumentar a larguda da tebela - titulo */
.row-filha-container-titulos-colunas-tabela {
  margin: 0;
  width: 100%;
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin-bottom: -1px;
  background-color: $cor_tema_background_tabela;
  //#155a97
  outline: 1px solid $cor_das_bordas_oficial;
}

.coluna-1-prontuario, .coluna-2-nome-completo, .coluna-3-idade,
.coluna-4-data-ultimo-atendimento, .coluna-5-perfil {
  font-weight: bold;
}

.prontuario_titulo, .nomeCompleto_titulo, .idade_titulo,
.dataUltimoAtend_titulo, .perfil_titulo {
  position: relative;
  top: 0.5px;
}

.prontuario_titulo:hover, .nomeCompleto_titulo:hover, .idade_titulo:hover,
.dataUltimoAtend_titulo:hover, .perfil_titulo:hover {
  cursor: pointer;
  text-decoration: underline;
}


/***** Coluna 2 *****/

.col-12-container-div-tabela {
  flex-grow: 1; /* Preenchendo o espaço restante do container pai */
  border-left: 1px solid $cor_das_bordas_oficial;
  border-right: 1px solid $cor_das_bordas_oficial;
  border-bottom: 1px solid $cor_das_bordas_oficial;
  overflow: auto;
}

.tabela-pacientes {
  width: 100%;
  height: 100%;
  table-layout: fixed;
  margin-bottom: 0 !important /* Sobrescrevendo bootstrap */;
}

.thead-container {
  position: -webkit-sticky;
  position: sticky;
  top: 0.1px !important;
  z-index: 1000;
  border-bottom: 1px solid $cor_das_bordas_oficial;

}

.row-container-tbody {
  margin: 0 0 1px 0;

}

.col-12-container-tr {
  padding: 0;
}

/* Removendo as bordas do bootstrap - classe table */
.table td, .table th  {
  border-top: none ;
}

.row-div-container-tr-colunas {
  margin: 0;
  height: 2.9rem;
  border-bottom: 1px solid $cor_das_bordas_oficial;
}
.row-div-container-tr-colunas:hover {
  background-color: $cor_backroung_hover_tr;
}

.coluna-1-prontuario-th, .coluna-2-nome-completo-td, .coluna-3-idade-td,
.coluna-4-data-ultimo-atendimento-td, .coluna-5-perfil-td,
.coluna-6-botao-iniciar-antendimento {
  height: 100%;
  font-size: $tamanho_fonte_botao;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
}

.coluna-1-prontuario-th span, .coluna-2-nome-completo-td span, .coluna-3-idade-td span,
 .coluna-5-perfil-td span,
.coluna-4-data-ultimo-atendimento-td span {
  position: relative;
  top: 1px;
  cursor: default;
}
.coluna-6-botao-iniciar-antendimento {
  display: flex;
  justify-content: center;
}



/* Configuração do botão "Iniciar atendimento" */
$background_color_botoes_iniciar_atendimento: #7be2e6;  // fad779
$background_color_botoes_iniciar_atendimento_hover: #69cfd3;  // f3c64a
$background_color_botoes_iniciar_atendimento_active: #56b9bd;
$borda_color_botoes_iniciar_atendimento: #7be2e6;  // fddb7f
$cor_texto_botao_iniciar_atendimento: #3b3b37;  //3b3b37

$active_color_botoes_e_borda_tabela: #3a70b3;
.btn-iniciar-atendimento {
  height: 29px;
  font-size: 0.9rem;
  line-height: 1rem !important;
  position: relative;
  top: 0px;
  width: 60%;
}
.btn-iniciar-atendimento {
  color: $cor_texto_botao_iniciar_atendimento  !important;
  background-color: $background_color_botoes_iniciar_atendimento;
  border-color: $background_color_botoes_iniciar_atendimento;
}

.btn-iniciar-atendimento:hover {
  color: #3b3b37;
  background-color: $background_color_botoes_iniciar_atendimento_hover !important;
  border-color: $background_color_botoes_iniciar_atendimento_hover;
}

.btn-iniciar-atendimento:focus, .btn-iniciar-atendimento.focus {
  box-shadow: none !important;
}

.btn-iniciar-atendimento.disabled, .btn-iniciar-atendimento:disabled {
  color: #212529;
  background-color: $background_color_botoes_iniciar_atendimento;
  border-color: $background_color_botoes_iniciar_atendimento;
}

.btn-iniciar-atendimento:not(:disabled):not(.disabled):active, .btn-iniciar-atendimento:not(:disabled):not(.disabled).active,
.show > .btn-iniciar-atendimento.dropdown-toggle {
  color: $cor_texto_botao_iniciar_atendimento  !important;
  background-color: $background_color_botoes_iniciar_atendimento_active;
  border-color: $background_color_botoes_iniciar_atendimento_active;
}

.btn-iniciar-atendimento:not(:disabled):not(.disabled):active:focus, .btn-iniciar-atendimento:not(:disabled):not(.disabled).active:focus,
.show > .btn-iniciar-atendimento.dropdown-toggle:focus {
  box-shadow: none;
}










/* Tratamento de erro ou tempo de carregamento */

.tr-noData {
  // background-color: aqua;
  display: flex;
  height: 100%;
}

.td-noData {
  // background-color: tomato;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: normal;
  justify-content: center;
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.div-col-frase {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.div-col-loading {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.img-loading {
  height: 47px;
  margin-top: 0.2em;
}



/* Estilo para barra de rolagem */


/* Firefox */
@-moz-document url-prefix() {
  .container-table .tabela_pacientes tbody {
    scrollbar-color: #77A1D6 #f3fbff;
  }
}

/* Chrome */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  // .container-table .tabela_pacientes tbody {
  //   /* styles for Chrome here */
  // }

  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 0;
  }

  /* barra */
  ::-webkit-scrollbar-thumb {
    background: $background_color_botoes_tabela_scroll;
    border-radius: 2px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $background_color_botoes_tabela_scroll_hover;
  }


}












































