// @import url('../../styles.scss');


  //vars
$background_color_menu_completo: #949494;
$color-item-menu: #ca72ca;  /*#ca72ca - rosa antigo*/
//#66D2D5 - verde da árvore
//#555555 - grafite
$altura_ideal_container_pacientes: 80vh;
$color-border-table: #EED4EE;
$color-border-table: #EED4EE;


/* Configurações da parte inferior a tabela */

/***** Coluna 1 *****/

.row-container-inferior {
  /* background-color: tomato; */
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 2rem 4rem 2rem 4rem;

}

/* Estilos 'cabeçalho' da tabela */
.col-12-container-div-cabecalho {
  background-color: aliceblue;
  height: 7.8666666rem;
  padding: 0;
  border: 1px solid #dee2e6;
}

.container-titulo-tabela-do-cabecalho {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  font-size: 1.3rem;
  padding-top: .2rem;
  padding-bottom: .2rem;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #dee2e6;
}

.row-container-barra-de-pesquisa-do-cabecalho {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #dee2e6;
  margin: 0;
  padding-top: .3rem;
  padding-bottom: .3rem;
}

.col-1-container-barra-de-pesquisa-button-limpar {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0;
}

.col-2-container-barra-de-pesquisa-form-pesquisa {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0;
}
.input-pesquisar {
  width: 200px;
  margin-right: 1rem;
  border: 1px solid $color-border-table !important; /* Bootstrap */
  font-family: 'font-home';
}
.input-pesquisar:focus {
  box-shadow: none !important;
  border: 1px solid #d39ad3 !important;
}

/* Estilização do botão pesquisar e botão limpar */

// vars
$background_color_botoes_tabela_scroll: #77A1D6;
$background_color_botoes_tabela_scroll_hover: #5486c4;
$borda_color_botoes_tabela: #77A1D6;
$active_color_botoes_e_borda_tabela: #3a70b3;

/* Botão limpar */
.botao-pesquisar {
  margin-right: 1rem;
  color: #fff;
  background-color: $background_color_botoes_tabela_scroll !important;
  border-color: $borda_color_botoes_tabela  !important;
}
.botao-pesquisar:hover {
  background-color: $background_color_botoes_tabela_scroll_hover !important;
  border-color: $background_color_botoes_tabela_scroll_hover  !important;
}
.botao-pesquisar:disabled, .botao-pesquisar:disabled {
  color: #fff;
  background-color: $background_color_botoes_tabela_scroll !important;
  border-color: $background_color_botoes_tabela_scroll  !important;
}
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: $background_color_botoes_tabela_scroll_hover;
  border-color: $background_color_botoes_tabela_scroll_hover;
}
.botao-pesquisar:focus {
  box-shadow: none !important;
}
.botao-pesquisar:active {
  background-color: $active_color_botoes_e_borda_tabela !important;
  border-color: $active_color_botoes_e_borda_tabela  !important;
}

/* Botão limpar */
.botao-limpar {
  margin-left: 1rem;
  color: #fff;
  background-color: $background_color_botoes_tabela_scroll !important;
  border-color: $borda_color_botoes_tabela  !important;
}
.botao-limpar:hover {
  background-color: $background_color_botoes_tabela_scroll_hover !important;
  border-color: $borda_color_botoes_tabela  !important;
}
.botao-limpar:disabled, .botao-limpar:disabled {
  color: #fff;
  background-color: $background_color_botoes_tabela_scroll !important;
  border-color: $background_color_botoes_tabela_scroll  !important;
}
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: $background_color_botoes_tabela_scroll_hover;
  border-color: $background_color_botoes_tabela_scroll_hover;
}
.botao-limpar:focus {
  box-shadow: none !important;
}
.botao-limpar:active {
  background-color: $active_color_botoes_e_borda_tabela !important;
  border-color: $active_color_botoes_e_borda_tabela  !important;
}


.col-12-container-titulos-colunas-tabela {
  width: 100%;
  padding: 0;
}

.row-filha-container-titulos-colunas-tabela {
  margin: 0;
  width: 100%;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.coluna-1-prontuario, .coluna-2-nome-completo,
.coluna-3-data-ultimo-atendimento, .coluna-4-perfil {
  font-weight: bold;
}

.prontuario_titulo:hover, .nomeCompleto_titulo:hover,
.dataUltimoAtend_titulo:hover, .perfil_titulo:hover {
  cursor: pointer;
  text-decoration: underline;
}


/***** Coluna 2 *****/

.col-12-container-div-tabela {
  height: 34.8rem !important;
  max-height: 34.8rem !important;
  top: -0.6rem;
  padding: 0;
  height: auto;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  overflow-y: auto;
}

.tabela-pacientes {
  width: 100%;
  height: 100%;
  margin-bottom: 0 !important /* Sobrescrevendo bootstrap */;
}

.row-container-tbody {
  margin: 0;
}

.col-12-container-tr {
  padding: 0;
}

/* Removendo as bordas do bootstrap - classe table */
.table td, .table th  {
  border-top: none ;
}

.row-div-container-tr-colunas {
  margin: 0;
  height: 2.9rem;
  border-bottom: 1px solid #dee2e6;
}

.coluna-1-prontuario-th, .coluna-2-nome-completo-td,
.coluna-3-data-ultimo-atendimento-td, .coluna-4-perfil-td,
.coluna-5-botao-iniciar-antendimento {
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
}

.coluna-1-prontuario-th span, .coluna-2-nome-completo-td span,
.coluna-2-nome-completo-td span, .coluna-4-perfil-td span,
.coluna-3-data-ultimo-atendimento-td span {
  position: relative;
  top: 1px;
  cursor: default;
}
.coluna-5-botao-iniciar-antendimento .btn-iniciar-atendimento {
  height: 29px;
  font-size: 0.9rem;
  line-height: 1rem !important;
  position: relative;
  top: 0px;
}

/* Tratamento de erro ou tempo de carregamento */

.tr-noData {
  // background-color: aqua;
  display: flex;
  height: 100%;
}

.td-noData {
  // background-color: tomato;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: normal;
  justify-content: center;
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.div-col-frase {
  display: flex;
  align-items: end;
  justify-content: center;
}
.div-col-loading {
  display: flex;
  align-items: start;
  justify-content: center;
}
.img-loading {
  height: 47px;
  margin-top: 0.2em;
}



/* Estilo para barra de rolagem */


/* Firefox */
@-moz-document url-prefix() {
  .container-table .tabela_pacientes tbody {
    scrollbar-color: #77A1D6 #f3fbff;
  }
}

/* Chrome */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  // .container-table .tabela_pacientes tbody {
  //   /* styles for Chrome here */
  // }

  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 0;
  }

  /* barra */
  ::-webkit-scrollbar-thumb {
    background: $background_color_botoes_tabela_scroll;
    border-radius: 2px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $background_color_botoes_tabela_scroll_hover;
  }


}












































