@import url('../../styles.scss');

/*

  LISTA DE TODAS AS RESOLUÇÕES PARA TELAS GRANDES

  1280x800
  1366x768
  1440x900
  1600x900
  1680x150
  1920x1080 (Marcia - note)
  1920x1200
  1920x1080
  2880x1800

*/


/**
* Estilização global para as Queries media
* Bootstrap - Extra large .col-xl-
*/
@media(min-width: 1200px) {
  /* em 1344px está aparecendo uma barra de rolagem horizontal na tebela, após os ajustes verifique */
}



/**
* Grid Extra Large - A partir de 1200px
* Dispositivo alvo: Desktops com telas grandes e monitores de alta resolução.
*/
@media(width: 1200px) and (min-height: 769px) {
  .row-container-inferior {
    height: 70.83vh ;      /* Altura ideal para esta screen */
    margin: 2.6666666rem auto ;  /* Controle de autura e largura centralizada*/
  }
}




/*
* Query para definição de altura para telas menores com altura de até 768px
* Para notebooks menores antigos: 1366 x 800
*
* Esta query engloba todos as resoluções abaixo
*/
@media(width: 1200px) and (max-height: 800px) {
  .row-container-inferior {
    height: 76.83vh ;      /* Altura ideal para esta screen */
    margin: 3.2rem auto ;  /* Controle de autura e largura centralizada*/
  }
}





/**************** DISPOSITIVOS PERSONALIZADOS COM ALTURA E LARGURA PRÓPRIA ******************/


/*
* Resolução para notebooks de largura e altura de 1280 x 800
* MacBook Pro 13 (2011) 13.3 polegadas
* Testado Ok
*/
@media (width: 1280px) and (height: 800px) {
  .row-container-inferior {
    height: 79.73vh;      /* Altura ideal para esta screen */
    margin: 2.7rem auto ;  /* Controle de autura e largura centralizada*/
  }
}



@media (width: 1326px) {/*Perfeita*/}



/*
* Resolução para notebooks de largura e altura de 1366 x 768
* MacBook Air 11 - 11.6 polegadas
* Obs: Um dos notebooks menores padronizados
* Testado
*/
@media (width: 1366px) and (height: 768px) {
  .row-container-inferior {
    height: 76.93vh !important;    /* Altura ideal para esta screen */
    margin: 3rem auto !important;  /* Controle de autura e largura centralizada*/
  }
}


/**
* Estilização global para as Queries media
* A partir de 1680px
*/
@media(min-width: 1600px) {
  .row-container-inferior {
    height: 78.26vh !important;      /* Altura ideal para esta screen */
    margin: 3.8rem auto !important;  /* Controle de autura e largura centralizada*/
  }
}



/*
* Resolução para notebooks de largura e altura de 1440 x 900
* MacBook Air 13 (2011) 13.3 polegadas
*/
@media (width: 1440px) and (height: 900px) {
  .row-container-inferior {
    height: 75.9vh !important;             /* Altura ideal para esta screen */
    margin: 3.63666666rem auto !important; /* Controle de autura e largura centralizada*/
  }
}



/*
* Resolução para notebooks de largura e altura de 1600 x 900
* HP Envy Spectre 14 - 14 polegadas
* Obs: Dispositivo com altura média alta
* Testado Ok
*/
@media (width: 1600px) and (height: 900px) {
  .row-container-inferior {
    height: 76vh !important;        /* Altura ideal para esta screen */
    margin: 4.1rem auto !important; /* Controle de autura e largura centralizada*/
  }
}





/*
* Resolução para notebooks de largura e altura de 1680 x 1050
* MacBook Air 13 (2011) 13.3 polegadas
* Obs: Este dispositivo possui a tela muito alta
* Testado OK
*/
@media (width: 1680px) and (height: 1050px) {/*Perfeito*/}




/*****************************************************************************************/

/*
* Media Querye de exceção apenas para ajustar a largura das colunas da tabela.
* O Ajuste principal é tratado na coluna 'Nome completo'
*/
@media(max-width: 1750px) {
  .coluna-2-nome-completo, .coluna-2-nome-completo-td {
    /*Medida bootstrap col-3*/
    // background-color: rgb(69, 223, 177);
    flex: 0 0 25%;
    max-width: 25%;
  }
  .btn-iniciar-atendimento  {
    width: 75%;
  }
}
@media(max-width: 1639px) {
  .coluna-2-nome-completo-td {
    /*Medida bootstrap col-3*/
    // background-color: rgb(69, 223, 177);
    flex: 0 0 25%;
    max-width: 25%;
  }
}
@media(min-width: 1379px) and (max-width: 1647px) {
  .btn-iniciar-atendimento {
    width: 150.04px !important;
  }
}
@media(max-width: 1378px) {
  .coluna-2-nome-completo, .coluna-2-nome-completo-td {
    flex: 0 0 24.333333%;
    max-width: 24.333333%;
  }
  .btn-iniciar-atendimento  {
    width: 100% !important;
  }
}
@media(max-width: 1375px) {
  .coluna-1-prontuario, .coluna-2-nome-completo,
  .coluna-3-data-ultimo-atendimento, .coluna-4-perfil {
    display: flex;
    align-items: center;
  }
}
/***************************Termino de ajuste de exceção da tabela interna*************************/


@media (min-width: 1751px) {
  .coluna-2-nome-completo, .coluna-2-nome-completo-td {
    flex: 0 0 20.333333%;
    max-width: 20.333333%;
  }
  .btn-iniciar-atendimento {
    width: 77% !important;
  }
}


/*
* Resolução para notebooks de largura e altura de 1920 x 1200
* MacBook Pro 17 (2011) - 17 polegadas
* Obs: Essa configuração é a ultima como referência para as demais @queries abaixo
* Resolução ideal do cliente: Psicologa Marcia Regina
* Testado ok
*/
@media (min-width: 1920px) and (min-height: 1080px) {
  .row-container-inferior {
    height: 76.2vh !important; /* Altura ideal para esta screen */
    margin: 4.7rem auto !important; /* Controle de autura e largura centralizada*/
  }




}






/*
* Resolução para notebooks de largura e altura de 1920 x 1200
* Lenovo T61p - 14.1 polegadas
* Obs:
* Testado
*/
@media (min-width: 1920px) and (height: 1200px) {
  .row-container-inferior {
    height: 76.4vh !important; /* Altura ideal para esta screen */
    margin: 5.7rem auto !important; /* Controle de autura e largura centralizada*/
  }
}



/*
* Resolução para notebooks de largura e altura de 2880 x 1800
* MacBook Pro 15 (Retina) - 15.4 polegadas
* Obs:
* Testado
*/
@media (width: 2880px) and (height: 1800px) {
  .row-container-inferior {
    height: 79.5vh !important; /* Altura ideal para esta screen */
    margin: 7.7rem auto !important; /* Controle de autura e largura centralizada*/
  }
}
