
<!-- Teste responsividade -->
<!-- <span style="
    height: 45px;
    position: fixed;
    bottom: 10px;    /* Autera os lados aqui */
    left: 10px;   /* Autera os lados aqui */
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 0 rgba(6, 12, 2, 0.5);
">
  <p>LxA: <b>{{ this.calculadorDeTelaModoDev.largura }}</b><small>px</small> x
    <b>{{ this.calculadorDeTelaModoDev.altura }}</b><small>px</small></p>
</span> -->
<!-- Teste responsividade -->
<div class="container-fluid">
  <app-menu-principal></app-menu-principal>
    <!-- Coluna principal 1 -->
  <div class="row-container-inferior">
    <!-- Coluna principal 2 -->
    <div class="col-12-container-div-cabecalho">
      <div class="row row-container-div-cabecalho-interna">
        <div class="col-12 container-titulo-tabela-do-cabecalho">Pacientes</div>
        <div class="col-12 container-barra-de-pesquisa">
          <!-- barra de pesquisa -->
          <div class="row row-container-barra-de-pesquisa-do-cabecalho">
            <!-- col 1 -->
            <div class="col-6 col-1-container-barra-de-pesquisa-button-limpar">
              <button type="button" class="btn btn-secondary btn-system-psico botao-limpar" *ngIf="exibirButtonLimpar" (click)="resetarPesquisa()">Limpar</button>
            </div>
            <!-- col 2 -->
            <div class="col-6 col-2-container-barra-de-pesquisa-form-pesquisa">
              <form (ngSubmit)="procurarPaciente()" [formGroup]="pesquisaDePaciente" class="d-flex">
                <input class="form-control form-control input-system-psico input-pesquisar" type="text" placeholder="Paciente" formControlName="pesquisa" (focus)="onCloseMessage()">
                <button type="submit"  class="btn btn-primary btn-system-psico botao-pesquisar" >Pesquisar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Coluna principal 2 -->
    <div class="col-12-container-div-tabela">
      <table class="table table-hover tabela-pacientes">
        <thead class="thead-container">
          <div class="col-12 col-12-container-titulos-colunas-tabela">
            <div class="row row-filha-container-titulos-colunas-tabela">
              <div class="col coluna-1-prontuario">
                <span class="prontuario_titulo" (click)="ordenacao('pacienteId')">Prontuário</span>
              </div>
              <div class="col coluna-2-nome-completo">
                <span class="nomeCompleto_titulo" (click)="ordenacao('nomeCompleto')">Nome completo</span>
              </div>
              <div class="col coluna-3-idade">
                <span class="idade_titulo" (click)="ordenacao('idade')">Idade</span>
              </div>
              <div class="col coluna-4-data-ultimo-atendimento">
                <span class="dataUltimoAtend_titulo" (click)="ordenacao('dataUltimoAtendimento')">Data último atendimento</span>
              </div>
              <div class="col coluna-5-perfil">
                <span class="perfil_titulo" (click)="ordenacao('perfil')">Perfil</span>
              </div>
              <div class="col"></div>
            </div>
          </div>
        </thead>
        <tbody *ngIf="listaPacienteHomeFiltrada.length > 0; else noData" class="row row-container-tbody">
          <tr *ngFor="let paciente of listaPacienteHomeFiltrada"
                (click)="paciente.dataUltimoAtendimento != null ? redirectPaciente(paciente) : null"
                class="col-12 col-12-container-tr">
            <!-- Container das tds principal -->
              <div class="row row-div-container-tr-colunas">
              <th scope="row" class="col coluna-1-prontuario-th"><span>{{ paciente.pacienteId }}</span></th>
              <td class="col coluna-2-nome-completo-td"><span>{{ paciente.nomeCompleto }}</span></td>
              <td class="col coluna-3-idade-td"><span>{{ paciente.idade }} anos</span></td>
              <td class="col coluna-4-data-ultimo-atendimento-td">
                <span *ngIf="paciente.dataUltimoAtendimento; else semAtendimento">
                  {{ paciente.dataUltimoAtendimento | date: 'dd/MM/yyyy' }}
                </span>
                <ng-template #semAtendimento><span>Paciente novo</span></ng-template>
              </td>
              <td class="col coluna-5-perfil-td">
                <span class="perfil-item">
                  {{ paciente.perfil.charAt(0).toUpperCase() + paciente.perfil.slice(1).toLowerCase() }}
                </span>
              </td>
              <td class="col coluna-6-botao-iniciar-antendimento">
                <button *ngIf="paciente.dataUltimoAtendimento === null" class="btn btn-warning btn-iniciar-atendimento"
                  (click)="redirectPaciente(paciente)">Iniciar Atendimento
                </button>
                <!-- <img src="../../assets/img/loading-tela-cadastro-paciente.gif" alt="" style="height: 40px;"> -->
              </td>
            </div>
          </tr>
        </tbody>

        <ng-template #noData>
          <tr class="tr-noData">
            <td colspan="4" class="row td-noData ">
            <div class="col-12 div-col-frase">
              <p>Carregando...</p><br>
            </div>
            <div class="col-12 div-col-loading">
              <img src="../../assets/img/loading.gif" alt="Carregando..." class="img-loading no-select-img" />
            </div>
          </td>
          </tr>
        </ng-template>
      </table>
    </div>


  </div>



</div>

