
<!-- Teste responsividade -->
<span style="
    height: 45px;
    position: fixed;
    bottom: 10px;    /* Autera os lados aqui */
    left: 10px;   /* Autera os lados aqui */
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 0 rgba(6, 12, 2, 0.5);
">
  <p>LxA: <b>{{ this.calculadorDeTelaModoDev.largura }}</b><small>px</small> x
    <b>{{ this.calculadorDeTelaModoDev.altura }}</b><small>px</small></p>
</span>
<!-- Teste responsividade -->


<div class="container-fluid" style="">

  <app-menu-principal></app-menu-principal>



<!--
  <div class="row menu-bar-pacientes">

    <div class="col-1 d-flex align-items-center justify-content-center div-filho-esquerdo">
      <a [routerLink]="['/pacientes']"><img src="../../assets/img/img-logo-alfa.png" class=" img-menu no-select-img" alt=""></a>
    </div>

    <div class="col-lg-8 col-xl-8 col-sm-7 col-centro d-flex align-items-center pl-5 div-filho-centro">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link menu-item-link pb-4 pt-4"  [routerLink]="['/pacientes']">Home</a></li>
        <li class="nav-item ">
          <a class="nav-link menu-item-link pb-4 pt-4" [routerLink]="['/cadastro']">Novo paciente</a></li>
        <li class="nav-item">
          <a class="nav-link menu-item-link pb-4 pt-4" href="#">Agenda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link menu-item-link pb-4 pt-4" href="#">Arquivo</a>
        </li>
      </ul>
    </div>

    <div class=" col-lg-3 col-xl-3 col-sm-4 col-dir d-flex align-items-center  justify-content-center div-filho-direito">
      <div class="no-select d-flex flex-column justify-content-center">
        <p class="align-middle m-0 nick-name text-center">Olá, {{nomeLogin}}</p>
      </div>
      <a href="#" class="ml-5 link-logout" (click)="logout()">Sair</a>
    </div>




    </div> -->



    <div class="container-inferior">
      <div class="container-table" style="">
        <table class="table table-hover tabela_pacientes">

          <thead style="" class="thead-container">
            <tr>
              <th colspan="4" class="titulo-tabela"><h5>Pacientes</h5></th>
            </tr>
            <tr colspan="4" class="tr-pesquisa" >
              <th colspan="4" >
                <div class="row d-flex div-row-pesquisar align-items-center justify-content-end" style="">
                  <form (ngSubmit)="procurarPaciente()" [formGroup]="pesquisaDePaciente">
                    <input class="form-control form-control input-system-psico input-pesquisar" type="text"
                    placeholder="Paciente" formControlName="pesquisa" (focus)="onCloseMessage()">
                    <button type="submit" class="btn btn-primary btn-system-psico botao-pesquisar" >Pesquisar</button>
                  </form>
                </div>
              </th>
            </tr>
            <tr class="tr-topo-tabela" style="background-color: #f1f1f1;">
              <th class="sub-titulo-tabela" scope="col"><span class="prontuario_Titulo">Prontuário</span></th>
              <th class="sub-titulo-tabela" scope="col"><span class="nomeCompleto_Titulo">Nome completo</span></th>
              <th class="sub-titulo-tabela" scope="col"><span class="dataUltimoAtend_titulo">Data último atendimento</span></th>
              <th class="sub-titulo-tabela" scope="col"><span class="perfil_titulo">Perfil</span></th>
            </tr>
          </thead>

          <tbody *ngIf="listaPacienteHome.length > 0; else noData">
            <tr *ngFor="let paciente of listaPacienteHome">
              <th scope="row"><span>{{ paciente.pacienteId }}</span></th>
              <td><span>{{ paciente.nomeCompleto }}</span></td>
              <td><span>{{ paciente.dataUltimoAtendimento }}</span></td>
              <td><span class="perfil-item">{{ paciente.perfil }}</span></td>
            </tr>
          </tbody>
          <ng-template #noData>
            <tr>
              <td colspan="4"><p>Nenhum dado encontrado.</p></td>
            </tr>
          </ng-template>


            <!-- <tr >
              <th scope="row"><span style="">0002</span></th>
              <td><span style="">Silvio Barbosa Filho</span></td>
              <td><span style="">Sem tratamento</span></td>
              <td>
                <span style="margin-right: 4rem;">Psicoterapia</span>
                <button class="btn btn-warning">Iniciar tratamento</button>
              </td>
            </tr> -->




        </table>



      </div>

    </div>






   <!--criada -->
<!-- executando -->
<!-- finalizada -->
<!-- rollback


<div class="container-sprint">

  <table class="sprint" style="" >
    <thead>
      <tr class="left;" style="padding: 7pt;"><th colspan="3">Sprints</th></tr>
      <tr>
        <th class="left;">Sprint</th>
        <th class="left;">Iniciado</th>
        <th class="left;">Finalizado</th>
      </tr>
    </thead>


    <tbody>
      <tr class="rollback">
        <td>
          <b>Menu</b><br>
          A cor da barra principal está horrível em modo noturno, refaça a cor de fundo (Somente em casa)
        </td>
        <td>07/out/2024 - 19:00</td>
      </tr>
      <tr class="rollback">
        <td>
          <b>Menu</b><br>
          A cor do hover dos itens do menu está horrível, refaça a coloração em conjunto com a cor de fundo do menu
          (Somente em casa)
        </td>
        <td>07/out/2024 - 19:00</td>
      </tr>
      <tr class="rollback">
        <td>
          <b>Tabela</b><br>
          O alcance da barra de rolagem com o limite da tabela está curto. Vejo fazendo o teste com devtools em tela grande.
          Para telas grandes o tamanho da tabela precisa se extender até o final
        </td>
        <td>07/out/2024 - 19:00</td>
      </tr>
      <tr class="finalizada">
        <td>
          <b>Tabela</b><br>
          Realize todos os ajustes responsivos da tela de pacientes
        </td>
        <td>07/out/2024 - 19:00</td>
        <td>28/out/2024 - 11:21</td>
      </tr>
      <tr class="rollback">
        <td>
          <b>Tabela</b><br>
           Ajustar a cor de fundo do topo da tabela está bom porém a th da barra de pesquisa, a cor é a mesma, precisa ser mais clara.
           (Somente em casa em modo noturno)
        </td>
        <td>07/out/2024 - 19:00</td>
      </tr>
      <tr class="rollback">
        <td>
          <b>Tabela</b><br>
           Austar a cor de fundo da tr dos titulos, precisa ser mais clara ou igual ao fundo da barra de pesquisa
           (Somente em casa em modo noturno)
        </td>
        <td>07/out/2024 - 19:00</td>
      </tr>
      <tr class="rollback">
        <td>
          <b>Tabela</b><br>
          Implante a funcionalidade da tabela dinamica (a mesma que voce implantou na tabela de dentista do DentalClean) para quando clicar
          na descrição seja ordenado a lista novamente em ordem alfabética, assim por diante de acordo com cada descrição.
          <br>
          <b>Resposta:</b> Vamos deixar em análize e aguardo por enquanto, ao que pacere esse efeito só acontece em modo
          desenvolvimento e quando aumentamos a porcentagem do devtools. (Analizado em: 28/10/2024)
        </td>
        <td>07/out/2024 - 19:00</td>

      </tr>
      <tr class="rollback">
        <td>
          <b>Tabela</b><br>
          Ajustar a cor do hover das trs da tabela, está muito forte igual a própria cor da tabela
          (Somente em casa)
        </td>
        <td>07/out/2024 - 19:00</td>
      </tr>

      <tr class="criada">
        <td>
          <b>Tabela</b><br>

        </td>
        <td>28/out/2024 - 11:31</td>
      </tr>



    </tbody>


  </table>
</div>


-->





