@import url('../../styles.scss');

/* Estilo para telas grandes e maiores (De 992px até 1200px) */
@media (min-width: 992px) and (max-width: 1199px) {

  .filho-row {
    width: 19rem !important;
  }
  #img-logo {
    height: 12.6666666rem;
  }

  /*
  * Layout da tabela aumentando a largura e acrescentando barra de rolagem
  */
  .row-filha-container-titulos-colunas-tabela,
  .row-div-container-tr-colunas {
    width: 80rem;
  }

  .coluna-2-nome-completo, .coluna-2-nome-completo-td {
    flex: 0 0 24.333333%;
    max-width: 29.333333%;
  }



}


