@import url('../../styles.scss');



  //vars
$background_color_menu_completo: #949494;
$color-item-menu: #ca72ca;  /*#ca72ca - rosa antigo*/
//#66D2D5 - verde da árvore
//#555555 - grafite
$color-border-table: #EED4EE;



.menu-bar-pacientes {
  height: 74.333333px !important;
  border-bottom: 1px solid #e4e4e4c9;
  margin: 0 !important;

}

.menu-bar-pacientes div {
  height: 100%;
}

.div-filho-esquerdo, .div-filho-centro, .div-filho-direito {
  background-color: $background_color_menu_completo;
}

.img-menu {
  height: 48px;
}

.nav .nav-item {
  height: 100%;
}


.menu-item-link {
  height: 100%;
  display: flex;
  align-items: center;

}

/* Fade */
/*********************************************************************************/
.menu-item-link {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  font-weight: bold;
  box-sizing: border-box;
  color: $color-item-menu;
  overflow: hidden;
  // -webkit-transition-duration: 0.01s;
  // transition-duration: 0.01s;
-webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  background-color: $background_color_menu_completo;
}

// ao passar o mouse
.menu-item-link:hover {
  background-color: #EBEBEB;
  color: #B744B7 !important;
}

// ao clicar
.menu-item-link:active, .menu-item-link:focus {
  background-color: $background_color_menu_completo  !important;
  // transform: none;
  // transition: none;
}

// após o clique
.menu-item-link:hover:focus:not(:active) {
  background-color: #EBEBEB !important; /*igual o hover*/
  color: #BB4ABB !important;
}
/*******************************************************************************/


.nick-name, .link-logout {
  color: $color-item-menu;
}


/* Configurações da parte inferior a tabela */
.container-inferior {
  // padding: 0;
  // border: 1px solid red;  //{Debug}\\
  // background-color: #fd8d79;
  width: 98.967% !important;  /* Tamanho calculado do container inferior */
  // flex: 1;
  max-height: 88vh;   /* Atenção: Essa é a altura calculada do container da tabela, não pode ser alterada */
  height: 100% !important;
  margin: 5px auto;

  display: flex;
  align-items: center;
  justify-content: center;
  // overflow: auto

}


/* Estilo tabela */

.container-table {
  border: 1px solid $color-border-table ;  //{Debug}\\  //  cor original
  width: 88%;
  height: 88.9%;
  overflow: none;
  // border-radius: 2px;
}



// Cebeçalho da tabelas

// Sessão de titulo
.container-table .tabela_pacientes .titulo-tabela {
  text-align: center;
  background-color: #F8E7F8;
  // #E0E6EA; // escolhida
  color: #782C78;
  padding: 0.20rem !important;
}

.titulo-tabela h5 {
  margin-bottom: .2rem !important; // diminuindo a margen inferior do h5
}


// Sessão de pesquisa

// configurações preliminares
.tr-pesquisa {
  text-align: right;
}

.tr-pesquisa th {
  padding: 0.25rem 0.75rem !important;  /* Bootstrap */
  background-color: #F8E7F8;
}


.tr-pesquisa .div-row-pesquisar {
  margin: 0;
  padding: 0;
  background-color: #F8E7F8;

}

.tr-pesquisa .div-row-pesquisar form {
  display: flex;
  width: 100% !important;
  justify-content: end;
}

// input
.tr-pesquisa .input-pesquisar {
  width: 200px;
  margin-right: 15px;
  border: 1px solid $color-border-table !important; /* Bootstrap */
  font-family: 'font-home';
}
.tr-pesquisa .input-pesquisar:focus {
  box-shadow: none !important;
  border: 1px solid #d39ad3 !important;

}


/* Estilização do botão pesquisar */
.tr-pesquisa .botao-pesquisar {
  color: #fff;
  background-color: #77A1D6 !important;
  border-color: #77A1D6  !important;
}
.tr-pesquisa .botao-pesquisar:hover {
  background-color: #5486c4 !important;
  border-color: #5486c4  !important;
}
.tr-pesquisa .botao-pesquisar:disabled, .tr-pesquisa .botao-pesquisar:disabled {
  color: #fff;
  background-color: #77A1D6 !important;
  border-color: #77A1D6  !important;
}
.tr-pesquisa .btn-primary:not(:disabled):not(.disabled):active:focus,
.tr-pesquisa .btn-primary:not(:disabled):not(.disabled).active:focus,
.tr-pesquisa .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #5486c4;
  border-color: #396eaf;
}

.tr-pesquisa .botao-pesquisar:focus {
  box-shadow: none !important;

}

.tr-pesquisa .botao-pesquisar:active {
  background-color: #3a70b3 !important;
  border-color: #3a70b3  !important;

}



// Sessão corpo da tabela

//  Configurações preliminares

// Cabeçalho da tabela
.container-table .tabela_pacientes thead .tr-topo-tabela  {
  display: flex;
}

.container-table .tabela_pacientes thead .tr-topo-tabela th  {
  width: 33%;   /* Largura proporcional calculada via displau flex */
}

.container-table .tabela_pacientes thead, tbody, tr, th, td {
  display: block;
}

.container-table .tabela_pacientes tbody {
  height: 343px !important;
  overflow-y: auto;
  width: 100%;
}

.container-table .tabela_pacientes tbody tr {
  display: flex;
}

.container-table .tabela_pacientes tbody tr td,
.container-table .tabela_pacientes tbody tr th {
  width: 33%;
}

.container-table .tabela_pacientes thead th {
  border-bottom: 1px solid $color-border-table !important;
}

.sub-titulo-tabela {
  padding: .75rem .0rem !important; /* Alterado padrão de layout bootstrap */
  background-color: #FAEBFA;
  color: #608FCB !important;

}



/* Texto-título das th's (Posições) */
.sub-titulo-tabela .prontuario_Titulo {
  margin-left: .70rem;
  // background-color: burlywood;
}

.sub-titulo-tabela .nomeCompleto_Titulo {
  margin-left: 0.6rem;
  // background-color: burlywood;
}

.sub-titulo-tabela .dataUltimoAtend_titulo {
  margin-left: 0.3666666rem;
  // background-color: burlywood;
}

.sub-titulo-tabela .perfil_titulo {
  margin-left: 0.3rem;
  // background-color: burlywood;
}


.tabela_pacientes thead tr th span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.tabela_pacientes tbody tr:hover {
   cursor: pointer;
   background-color: #FAEBFA !important;
}





/* TESTE ESTILIZAÇÃO DA BARRA */

// .container-table .tabela_pacientes tbody::-webkit-scrollbar {
//   width: 0.6666666rem;
//   height: 1.9666666rem; /* Engrossar barra */
// }




/* Estilo para barra de rolagem */


/* Firefox */
@-moz-document url-prefix() {
  .container-table .tabela_pacientes tbody {
    scrollbar-color: #77A1D6 #f3fbff;
  }
}

/* Chrome */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  // .container-table .tabela_pacientes tbody {
  //   /* styles for Chrome here */
  // }

  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 0;
  }

  /* barra */
  ::-webkit-scrollbar-thumb {
    background: #77A1D6;
    border-radius: 2px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #6190ca;
  }


}












































