/**
* A Regra do media neste projeto é sempre da ordem da mais mais larga à menor
*/

@import '~hover.css/css/hover.css';

@font-face {
  font-family: 'font-sistem';
  src: url('../../assets/fonts/Assistant/static/Assistant-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}



  //vars
$color-item-menu: #ca72ca;
//#66D2D5 - verde da árvore
//#555555 - grafite

.container-fluid {
  font-family: 'font-sistem';
  // font-size: 11pt;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0 !important;
  margin: 0 !important;
}

.menu-bar-pacientes {
  background-color: cornsilk;
  height: 74.333333px !important;
  border-bottom: 1px solid #e4e4e4c9;
  margin: 0 !important;

}

.menu-bar-pacientes div {
  height: 100%;

}

.img-menu {
  height: 48px;
}

.nav .nav-item {
  height: 100%;
}


.menu-item-link {
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: bold;


  box-sizing: border-box;
  color: $color-item-menu;
}

/* Fade */
/*********************************************************************************/
.menu-item-link {
   display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
-webkit-transition-property: color, background-color;
  transition-property: color, background-color
}

.menu-item-link:hover {
  background-color: #F2F2F2;
  color: #BB4ABB !important;
}

.menu-item-link:active, .menu-item-link:focus {
  background-color: #F9F9F9;
  transform: none;
  transition: none;
}

.menu-item-link:hover:focus:not(:active) {
  transition: background-color 0.2s, color 0.2s;
  background-color: #EEEEEE;
  color: #BB4ABB;
}
/*******************************************************************************/


.nick-name, .link-logout {
  color: $color-item-menu;
}


/* Configurações da parte inferior a tabela */
.container-inferior {
  // padding: 0;
  border: 1px solid red;
  // // background-color: #fd8d79;
  width: 98.967% !important;  /* Tamanho calculado do container inferior */
  // flex: 1;
  max-height: 88vh;   /* Atenção: Essa é a altura calculada do container da tabela, não pode ser alterada */
  height: 100% !important;
  margin: 5px auto;

  display: flex;
  align-items: center;
  justify-content: center;
  // overflow: auto

}


.container-table {

  border: 1px solid blue;
  width: 70%;
  height: 82%;
  overflow: auto;


}









