<div *ngIf="exibicaoDeConteudo"
  style="
    border: 1px solid blue;
    width: 100%;
    height: 80vh;

  "
>

  <!-- <h2>Identificação</h2>

  (Esta tela será decorada com  a logo e as informações do paciente para uma apresentação bonita, aparente e
  amigável)

  <h5>Dados</h5>
   <br> -->


  <!-- <div class="row mostruario-de-identificacao"
  style="
    border: 1px solid tomato;
    width: 100% !important;
    height: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
  ">

    <div class="row"
      style="
        width: 100%;
        height: auto;
        margin-left: 0 !important;
        margin-right: 0 !important;
        background-color: aquamarine;
        display: flex;
        flex-direction: row;
      ">
      <div class="col-12"
        style="
          display: flex;
        ">
          <div style="flex: 0 1 auto;">
            [Foto logo]
          </div>

      </div> -->
    <!-- </div> -->

    <div class="d-flex" style="justify-content: right;">
      <button class="btn btn-info" (click)="atualizarDados()">Editar</button>
    </div>
    <div class="col-12" id="section-1" style="background-color: rgb(255, 219, 172);">
      <p><b>Prontuário:</b> {{this.identificacao?.id}}</p>
      <p><b>Nome:</b> {{ this.identificacao?.nomeCompleto }}</p>
      <p><b>Responsável:</b> {{this.identificacao?.responsavel}}</p>
      <p><b>Responsável:</b> {{this.identificacao?.cpf}}</p>
      <p><b>Responsável:</b> {{this.identificacao?.rg}}</p>
      <p><b>Responsável:</b> {{this.identificacao?.email}}</p>
      <p><b>Responsável:</b> {{this.identificacao?.telefone}}</p>
      <p><b>Responsável:</b> {{this.identificacao?.telefoneContato}}</p>
      <p><b>Responsável:</b> {{this.identificacao?.idade}}</p>
      <p><b>Responsável:</b> {{this.identificacao?.dataNascimento}}</p>
      <p><b>Responsável:</b> {{this.identificacao?.estadoCivil}}</p>
      <p><b>Responsável:</b> {{this.identificacao?.filhos}}</p>
      <p><b>Responsável:</b> {{this.identificacao?.qtdFilhos}}</p>
      <p><b>Responsável:</b> {{this.identificacao?.grauEscolaridade}}</p>
      <p><b>Responsável:</b> {{this.identificacao?.profissao}}</p>
      <p><b>Responsável:</b> {{this.identificacao?.statusPaciente}}</p>
      <p><b>Responsável:</b> {{this.identificacao?.perfil}}</p>
      <p><b>Responsável:</b> {{this.identificacao?.endereco?.logradouro}}</p>
      <p><b>Responsável:</b> {{this.identificacao?.endereco?.numero}}</p>
      <p><b>Responsável:</b> {{this.identificacao?.endereco?.complemento}}</p>
      <p><b>Responsável:</b> {{this.identificacao?.endereco?.bairro}}</p>
      <p><b>Responsável:</b> {{this.identificacao?.endereco?.cidade}}</p>
      <p><b>Responsável:</b> {{this.identificacao?.endereco?.uf}}</p>
      <p><b>Responsável:</b> {{this.identificacao?.endereco?.cep}}</p>
      <p><b>Responsável:</b> {{this.identificacao?.queixa?.queixa}}</p>

    </div>



  <!-- </div> -->



</div>
