@import '../../../styles.scss';

//vars
$background_color_menu_completo: #fffbe4;
$color-item-menu: #ca72ca;
//#66D2D5 - verde da árvore
//#555555 - grafite


.container-fluid {

  // font-size: 11pt;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0 !important;
  margin: 0 !important;
}

.menu-bar-pacientes {
  font-family: 'font-home';
  height: 74.333333px ;
  border-bottom: 1px solid #e4e4e4c9;
  margin: 0 !important;
}

.menu-bar-pacientes div {
  height: 100%;
}

.img-menu {
  height: 48px;
}

.div-filho-esquerdo, .div-filho-centro, .div-filho-direito {
  background-color: $background_color_menu_completo;
}

.nav .nav-item {
  height: 100%;
}


.nav-link {
  padding: 0 !important; /* Sobreposição bootstrap - para retirar o paddind dos itens do menu */
}

.menu-item-link {
  height: 100%;
  display: flex;
  align-items: center;

}

.menu-item-link {
  display: inline-block;
  font-size: $tamanho_fonte_botao !important;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  font-weight: bold;
  box-sizing: border-box;
  color: $color-item-menu;
  overflow: hidden;
  // -webkit-transition-duration: 0.01s;
  // transition-duration: 0.01s;
-webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  background-color: $background_color_menu_completo;
}

// ao passar o mouse
.menu-item-link:hover {
  text-decoration: underline;
  color: #B744B7 !important;
}

// ao clicar
.menu-item-link:active, .menu-item-link:focus {
  background-color: $background_color_menu_completo  !important;
  // transform: none;
  // transition: none;
}

// após o clique
.menu-item-link:hover:focus:not(:active) {
  color: #973097 !important;
}
/*******************************************************************************/


.nick-name, .link-logout {
  color: $color-item-menu;
}


.div-filho-direito .link-logout {
  margin-left: 2rem;
}
