<div class="row menu-bar-pacientes">

  <div class="col-xl-1 col-md-1 col-lg-1 col-sm-12 d-flex align-items-center justify-content-center div-filho-esquerdo">
    <a [routerLink]="['/pacientes']"><img src="../../../assets/img/img-logo-alfa.png" class=" img-menu no-select-img"></a>
  </div>

  <div class="col-xl-8 col-md-8 col-lg-8 col-sm-12 col-centro d-flex align-items-center pl-3 div-filho-centro">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link menu-item-link pb-4 pt-4"  [routerLink]="['/pacientes']">Home</a></li>
      <li class="nav-item ">
        <a class="nav-link menu-item-link pb-4 pt-4" [routerLink]="['/novo-paciente']">Novo paciente</a></li>
      <li class="nav-item">
        <a class="nav-link menu-item-link pb-4 pt-4" href="#">Agenda</a>
      </li>
      <li class="nav-item">
        <a class="nav-link menu-item-link pb-4 pt-4" href="#">Arquivo</a>
      </li>
    </ul>
  </div>

  <div class="col-xl-3 col-md-3 col-lg-3 col-sm-12 col-dir d-flex align-items-center justify-content-end div-filho-direito">
    <div class="no-select d-flex flex-column justify-content-center">
      <p class="align-middle m-0 nick-name text-center"><span class="text-ola">Olá,</span> {{nomeLogin}}</p>
    </div>
    <a href="#" class="ml-4 mr-1 link-logout" (click)="logout()">Sair</a>
  </div>

</div>
