/******** VARIÁVEIS DE COMPARTILHAMENTO ********/


/* Tela Paciente */
$tela_paciente__largura_col_2_lado_esquerdo_media_1018px_a_1199px: 15rem !important;
$tela_paciente__largura_col_2_lado_esquerdo_telas_maiores_min_1200px: 14.5rem !important;
$tela_paciente__largura_col_2_lado_esquerdo_telas_maiores_min_1200px_menu_superior: 14.5666rem !important;


