/******** VARIÁVEIS DE COMPARTILHAMENTO ********/

/********************************* Medidas responsivas de escala - Global *********************************/

//Titulos
$titulo_h4_screen_acima_de_1600: 1.5rem;
$titulo_h4_screen_telas_menores_ate_1600: 1.4rem;
$titulo_h4_screen_tela_mobile: 1.3rem;


// Texto corrido, listas e etc
$font_size__screen_acima_de_1600: 1.2rem;
$font_size__screen_1018_AND_1199: 1rem;
$font_size__screen_tela_mobile: .9rem;






/********************************* Tema Tela Paciente - Global *********************************/

$tema_paciente__cor_de_fundo_menu_vertical: 0;
$tema_paciente__cor_de_fundo_menu_horizontal: 0;


/**************************** Medidas responsivas de escala - Tela Paciente ****************************/

/* Altura do Menu superior */
$TelaPaciente__altura_menu_superior__min_width_1601: 5rem ;
$TelaPaciente__altura_menu_superior__max_width_1600: 4rem ;
$TelaPaciente__altura_menu_superior__min_width_1018_a_max_width_1199: 3.8rem ;
$TelaPaciente__altura_menu_superior__max_width_768_a_max_width_1017: 3.4rem ;
$TelaPaciente__altura_menu_superior__max_width_543: 2.4rem;

/* Medidas da div classe='col-filha-container-direito-filha' no Perfil de **Psicologia** */
$TelaPacienteDivPerfil_Psicologia__min_width_1601:                      13.774375rem  !important;
$TelaPacienteDivPerfil_Psicologia__min_width_1200__and__max_width_1600: 12.16666rem   !important;
$TelaPacienteDivPerfil_Psicologia__min_width_1018__and__max_width_1199: 11.97875rem   !important;
$TelaPacienteDivPerfil_Psicologia__min_width_768__and__max_width_1017:  11.6075rem    !important;

/* Medidas da div classe='col-filha-container-direito-filha' no Perfil de **Neuropsicologia** */
$TelaPacienteDivPerfil_Neuropsicologia__min_width_1601:                       17.253125rem  !important;
$TelaPacienteDivPerfil_Neuropsicologia__min_width_1200__and__max_width_1600:  15.88875rem   !important;
$TelaPacienteDivPerfil_Neuropsicologia__min_width_1018__and__max_width_1199:  15.635rem     !important;
$TelaPacienteDivPerfil_Neuropsicologia__min_width_768__and__max_width_1017:   15.26375rem   !important;

/********************************************************************************************************/









