@font-face {
  font-family: 'font-login';
  src: url('../src/assets/fonts/omega/Omega-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'font-home';
  src: url('../src/assets/fonts/Assistant/static/Assistant-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.no-select-img, .no-select {

  pointer-events: none;  /* Impede que a imagem seja arrastada */
    user-select: none;  /* Impede a seleção do conteúdo durante o arraste */
    -moz-user-select: none;  /* Suporte para navegadores Firefox mais antigos */
    -webkit-user-drag: none;  /* Impede o arraste da imagem no Safari e navegadores baseados em WebKit */
    -webkit-user-select: none;  /* Impede a seleção do conteúdo durante o arraste no Safari e navegadores baseados em WebKit */
  }



.input-system-psico {
  height: 35px;
}

.btn-system-psico {
  height: 35px;
  line-height: 1rem !important;

}


.container-fluid {

  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0 !important;
  margin: 0 !important;
}


/* Sprint */

.container-sprint {
  margin: 0 auto;
  width: 50%;
  margin-top: 5rem;
}

.sprint {
  margin-bottom: 2em;
  width: 100%;
}
.sprint thead tr, .sprint tbody tr, .sprint tbody td, .sprint thead th, .sprint thead, .sprint tbody {
  border: 1px solid lightgrey;
  border-collapse: collapse;
}
.criada { color: tomato; }
.executando { color: blue; }
.finalizada {
text-decoration: line-through;
color: green;
background-color: lightgray;
}
.rollback {
color: #dd9001;
}
