@font-face {
  font-family: 'font-login';
  src: url('../src/assets/fonts/omega/Omega-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'font-home';
  src: url('../src/assets/fonts/Assistant/static/Assistant-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Variáveis do sistema */
$tamanho_fonte_botao: 1rem; //16px


.no-select-img, .no-select {

  pointer-events: none;  /* Impede que a imagem seja arrastada */
    user-select: none;  /* Impede a seleção do conteúdo durante o arraste */
    -moz-user-select: none;  /* Suporte para navegadores Firefox mais antigos */
    -webkit-user-drag: none;  /* Impede o arraste da imagem no Safari e navegadores baseados em WebKit */
    -webkit-user-select: none;  /* Impede a seleção do conteúdo durante o arraste no Safari e navegadores baseados em WebKit */
  }


/* Tamanho padrão de input do sistema */
.input-system-psico {
  height: 35px;
}

/* Tamanho padrão button sistems */
.btn-system-psico {
  height: 35px;
  line-height: 1rem !important;

}


/* Container  fluid global*/
.container-fluid {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0 !important;
  margin: 0 !important;
}



/*
 *  Estilos globais de mensageria do sistema
 *
*/
$posicao_bottom: 1rem;

// info-message
.alert-info-message, .alert-error-message {
  position: fixed;
  z-index: 1000;
  bottom: $posicao_bottom;
  right: 10px;
  transition: opacity 0.5s ease;
}
.close:focus {
  outline: none;
}







/* Sprint */

.container-sprint {
  margin: 0 auto;
  width: 50%;
  margin-top: 5rem;
}

.sprint {
  margin-bottom: 2em;
  width: 100%;
}
.sprint thead tr, .sprint tbody tr, .sprint tbody td, .sprint thead th, .sprint thead, .sprint tbody {
  border: 1px solid lightgrey;
  border-collapse: collapse;
}
.criada { color: tomato; }
.executando { color: blue; }
.finalizada {
text-decoration: line-through;
color: green;
background-color: lightgray;
}
.rollback {
color: #dd9001;
}





/****************Estilo Global para caixas de texto do sistema*****************/

/**
* Grid - A partir de 992px à 1199px
* Bootstrap - Large .col-lg-
* Dispositivo alvo: Notebooks e desktops com telas menores
*/
@media (min-width: 992px) and (max-width: 1199px) {}


/*
* Query para definição de altura para telas menores com altura de até 531px
*/
@media(min-width: 992px) and (max-width: 1199px)  and (max-height: 768px) {

}


/**
* Estilização global para as Queries media
* A partir de 1200px
*/
@media(min-width: 1200px) {
  /* classe bootstrap */
  .form-control {
    $altura_input_ideal: 2.1rem !important;
    height: $altura_input_ideal;
    line-height: 2.1rem;
  }
}


/*
* Query para definição de altura para telas menores com altura de até 768px
* Para notebooks menores antigos: 1366 x 800
*
* Esta query engloba todos as resoluções abaixo
*/
@media(min-width: 1200px) and (max-height: 800px) {
  .titulo-item {
    font-size: 0.93rem !important;
  }

  .alert-info-message, .alert-error-message {
    bottom: 1.1rem;
  }

}


/*
* Resolução para notebooks de largura e altura de 1366 x 768
* MacBook Air 11 - 11.6 polegadas
* Obs: Um dos notebooks menores padronizados
* Testado
*/
@media (width: 1366px) and (height: 768px) {
  .alert-info-message, .alert-error-message {
    bottom: -.5rem ;
  }
}


/*
* Resolução para notebooks de largura e altura de 1440 x 900
* MacBook Air 13 (2011) 13.3 polegadas
*/
@media (width: 1440px) and (height: 900px) {
  /* Label */
  .titulo-item {
    /* Tamanho ideal - 1rem padrão (Bootstrap) */
  }

  .alert-info-message, .alert-error-message {
    bottom: 2.5rem ;
  }

}



/**
* Estilização global para as Queries media
* A partir de 1600px
*/
@media(min-width: 1600px) {

}


/*
* Resolução para notebooks de largura e altura de 1600 x 900
* HP Envy Spectre 14 - 14 polegadas
* Obs: Dispositivo com altura média alta
* Testado Ok
*/
@media (width: 1600px) and (height: 900px) {
  /* Label */
  .titulo-item {
    /* Tamanho ideal - 1rem padrão (Bootstrap) */
  }

  .alert-info-message, .alert-error-message {
    bottom: 1.9rem;
  }

}

/*
* Resolução para notebooks de largura e altura de 1680 x 1050
* MacBook Air 13 (2011) 13.3 polegadas
* Obs: Este dispositivo possui a tela muito alta
* Testado OK
*/
@media (width: 1680px) and (height: 1050px) {
  .alert-info-message, .alert-error-message {
    bottom: 6.4rem;
  }
}



/*
* Resolução para notebooks de largura e altura de 1920 x 1200
* MacBook Pro 17 (2011) - 17 polegadas
* Obs: Essa configuração é a ultima como referência para as demais @queries abaixo
* Ideal para o notebook da Márcia
* Testado ok
*/
@media (min-width: 1920px) and (min-height: 1080px) {
  $tamanho_font: 17.666666px !important;
  /* Label */
  .titulo-item {
    font-size: $tamanho_font !important;
  }
  .alert-info-message, .alert-error-message {
    bottom: 2.5rem;
  }

}


/*
* Resolução para notebooks de largura e altura de 1920 x 1200
* Lenovo T61p - 14.1 polegadas
* Obs:
* Testado ok
*/
@media (width: 1920px) and (height: 1200px) {
  .alert-info-message, .alert-error-message {
    bottom: 10rem;
  }
}
