/* ajustes de template */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.no-select-img, .no-select {

  pointer-events: none;  /* Impede que a imagem seja arrastada */
    user-select: none;  /* Impede a seleção do conteúdo durante o arraste */
    -moz-user-select: none;  /* Suporte para navegadores Firefox mais antigos */
    -webkit-user-drag: none;  /* Impede o arraste da imagem no Safari e navegadores baseados em WebKit */
    -webkit-user-select: none;  /* Impede a seleção do conteúdo durante o arraste no Safari e navegadores baseados em WebKit */
  }



.input-system-psico {
  height: 35px;
}

.btn-system-psico {
  height: 35px;
  line-height: 1rem !important;
}
