

<div class="row menu-bar">

    <div class="col-2-personalizada side-bar-esquerdo-interno">
      <div class="row container-row-side-bar-esquerdo-filho">
        <div class="col-2 col-logo-filho">
          <a [routerLink]="['/paciente',perfilVar,'documentos']">
            <img src="../../../assets/img/img-logo-alfa.png" class=" img-menu no-select-img">
          </a>

        </div>
        <div class="col col-perfil-filho" style="font-size: 1.3em; padding-right: 2%;">
          {{ perfil }}
        </div>
      </div>
    </div>
    <div class="col-10-persinalizada side-bar-direito-interno">
      <div class="side-bar-direito-filho">
        <div class="side-bar-direito-filho-container-esquerdo">
          <span class="nome-paciente-display">{{ nomeSessao }}</span>
        </div>
        <div class="side-bar-direito-filho-container-direito">
          <span class="usuario-display">Olá, {{ usuario }}</span>
          <span class="link-logout" (click)="openModal()">Sair</span>
        </div>

      </div>
    </div>

    <!-- Modal -->
    <div
    class="modal fade"
    id="exampleModalCenter"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    data-backdrop="static"
    data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Encerra sessão</h5>
          <button
            type="button"
            class="close"
            (click)="closeModal()"
            aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Deseja sair deste perfil ou encerrar sessão ?
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-primary"
            (click)="redirectMenu()"

            >Sair do perfil</button>

          <button
            type="button"
            class="btn btn-danger"
            (click)="encerrarSessao()"
            >Encerrar sessão</button>
        </div>
      </div>
    </div>
  </div>

  </div>



