@import '../../../styles-variaveis-globais.scss';



/**
* Grid - A partir de 576px à 767px
* Bootstrap - Small .col-sm-
* Dispositivo alvo: Smartphones em modo paisagem e alguns dispositivos menores, como tablets compactos.
*/
@media (max-width: 430px) {

  /*************************Desativando Visibilidade de Outras Screens**************************/

  /*
  * Desativando os efeitos acima das demais telas responsivas
  */
  .span-ola, .nick-name  { display: block; }
  /* Classe usada nesta @media: menu-responsivo-mobile */
  .menu-responsive-middle-normal ,
  .menu-responsive-middle-disp-menores,
  .menu-responsive-middle-disp-menores-quebrado
  { display: none; }


  /*********************************************************************************************/

  .menu-bar {
    height: 63.333333px;
    border-bottom: 0 !important;
  }

  .col-12-personalizada {
    // background-color: #acf8f8;
    width: 100%;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
  }

    .row-de-col-12-personalizada {
      // background-color: lightgreen;
      width: 100%;
      height: 100%;
      padding: 0 !important;
      margin: 0 !important;
      border: 0 !important;
      outline: 0 !important;
      display: flex;
    }

      .col-2-personalizada-lado-esquerdo {
        height: 100% !important;
        // background-color: palevioletred;
        border: 0 !important;
        outline: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
      }

        .row-filha-de-col-2-personalizada-lado-esquerdo {
          background-color: lightskyblue;
        }

        /*
        * Estilo logo canto superior esquerdo - Para mobile
        */
        .col-logo-perfil-container {
          background-color: black;
          width: 100%;
          height: 100%;
          padding: 0;
          display: flex;
          flex: 0 0 100% !important;
          max-width: 100% !important;
          align-items: center;
          justify-content: flex-start;
        }

        .divisao-responsiva-perfil-nickname {
          background-color: #323232;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-right: 1.2333rem;
        }

        .img-logo {
          height: 48px;
          padding-left: 1rem;  /* Controle de posição dos itens por aqui */
          padding-right: 1rem;
        }

        .tipo-perfil {
          margin-bottom: .4rem !important;
        }


        /*
        * Estilo Nome Paciente - Para mobile
        */
        .col-nome-paciente {
          // background-color: aquamarine;
          height: 65%;
          position: absolute;
          top: 4rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .col-menu-responsivo {
          display: block;
        }

        .nome-paciente {
          font-size: $titulo_h4_screen_tela_mobile;
          margin: 0;
        }

        .tipo-perfil {
          font-size: $titulo_h4_screen_tela_mobile;
          margin-bottom: 0 !important;
        }



        .img-menu {
          background-color: #fff;
          height: 41px;
        }

        .img-responsive-middle,
        .menu-responsive-middle {
          display: none;
        }



        .tela-suspensa-documentos {
          margin-top: 0 !important;
          background-color: antiquewhite;
          position: relative;
          top: 7rem;
        }

}


/**
* @media para desativar o efeito mobile/tablet para telas grandes
*/
@media(min-width: 430px) {

  .img-menu, .nick-name-for-responsive {
    display: none !important;
  }

}





/**
* Grid - Smartphone - Tamanho Grande
* Bootstrap - Mobile Large - 425px
* Dispositivo alvo: Smartphone
*/
@media (max-width: 425px) {}



/**
* Grid - Smartphone - Tamanho Médio
* Bootstrap - Mobile Medium - 375px
* Dispositivo alvo: Smartphone
*/
@media (max-width: 375px) and (min-width: 321px) {}


/**
* Grid - Smartphone - Tamanho Pequeno
* Bootstrap - Mobile Small - 320px
* Dispositivo alvo: Smartphone
*/
@media (max-width: 320px) {}
