/**
* Grid - A partir de 768px à 991px
* Bootstrap - Medium .col-md-
* Dispositivo alvo: Tablets grandes e notebooks menores
*/
@media (min-width: 768px) and (max-width: 991px) {

  .menu-bar {
    height: 58.333333px !important;
  }
  .container-inferior  {
    margin-top: 24rem;
  }

  .col-12-personalizada {
    background-color: #acf8f8;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
  }

  .row-de-col-12-personalizada {
    height: 100%;
  }

  .col-2-personalizada-lado-esquerdo {
    height: 100%;
  }

    .row-filha-de-col-2-personalizada-lado-esquerdo {

    }

    .col-logo-perfil-container {
      background-color: black;
      height: 100%;
      display: flex;
    }

    .divisao-responsiva-perfil-nickname {
      background-color: #323232;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 1.2333rem;
    }

    .col-nome-paciente {
      display: flex;
    }


  .img-logo {
    background-color: #fff;
    height: 41px;
  }



}


@media (max-width: 855px) {




}

/*
* Transformar o item "Sair" em opção do menu
*/
@media (min-width: 856px) {
  // .icone-sair {
  //   display: none;
  // }
  // .span-ola {
  //   display: block;
  // }



}


