/**
* Grid - A partir de 768px à 991px
* Bootstrap - Medium .col-md-
* Dispositivo alvo: Tablets grandes e notebooks menores
*/
@media (min-width: 768px) and (max-width: 1017px) {

  .menu-bar {
    height: 58.333333px !important;
    border-bottom: none;
  }
  .container-inferior  {
    margin-top: 24rem;
  }

  .col-12-personalizada {
    background-color: #83c976;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
  }

  .row-de-col-12-personalizada {
    height: 100%;
  }

  .col-2-personalizada-lado-esquerdo {
    height: 100%;
  }

    .row-filha-de-col-2-personalizada-lado-esquerdo {
      align-items: flex-start;
    }

    .col-logo-perfil-container {
      background-color: black;
      height: 100%;
      display: flex;
      padding-right: 0 !important;
    }

    .col-md-3-formatada {
      background-color: tomato;
    }

    .divisao-responsiva-perfil-nickname {
      background-color: #323232;
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      padding-right: 1.2333rem;
      padding-left: 1.2333rem;
    }

    h4 {
      margin-bottom: 0;
    }

    .col-nome-paciente {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .nome-paciente {
      padding-left: 9px;
    }


  .img-logo {
    background-color: #fff;
    height: 100%;
  }

  .img-responsive-middle {
    display: block;
    height: 31px;
  }

  /**
  * Controlador do menu para middle
  */
  .menu-responsive-middle {
    display: block;
    background-color: aqua;
    position: fixed;
    right: 1.3rem;
    top: 2.7rem;
    z-index: 1;
    border-radius: .5rem;

    /* Transição suave */
    opacity: 0;
    height: 0;

    overflow: hidden;
    transition: opacity 0.3s ease, height 0.3s ease;
  }

  /* Transição suave */
  .menu-responsive-middle.visible {
    opacity: 1;
    height: auto; /* ou um valor fixo se preferir */
  }
  .menu-responsive-middle.hidden {
    opacity: 0;
    height: 0;
  }


  .menu-responsive-middle ul {
    padding: 0;
    margin: 0;

  }

  .menu-responsive-middle--nick-name,
  .menu-responsive-middle--encerrar-sessao,
  .menu-responsive-middle--sair-perfil {
    list-style-type: none;
    padding: 0.6rem 0.5rem;

  }

  .menu-responsive-middle--nick-name:active,
  .menu-responsive-middle--encerrar-sessao:active,
  .menu-responsive-middle--sair-perfil:active {
    background-color: blue;
  }


}


/*
* Ajuste de grid do Bootstrap para adaptar a largura de acordo com a medida calculada.
*/
@media (min-width: 992px) and (max-width: 1017px) {
  // Ajuste adequado de largura da coluna de nome e menu da tela de paciente
  .col-lg-6 {
    flex: 0 0 75% !important;
    max-width: 100% !important;
  }
}



/*
* Transformar o item "Sair" em opção do menu
*/
@media (min-width: 1018px) {

  .img-responsive-middle,
  .menu-responsive-middle,
  .nome-paciente-middle-and-small {
    display: none;
  }



}


