

<div class="row menu-bar">

  <div class=" col-md-12 col-sm-12 col-12 col-12-personalizada">
    <div class="row row-de-col-12-personalizada">
      <!-- col-2 (lado esquerdo - Para tela grande) -->
      <div class=" col-md-12 col-sm-12 col-12 col-2-personalizada-lado-esquerdo">
        <div class="row row-filha-de-col-2-personalizada-lado-esquerdo">

          <!-- 1° Coluna -->

          <div class="col-lg-3
           col-sm-1 col-1 col-logo-perfil-container"
            [ngClass]="getLogoPerfilClasse()">
            <a [routerLink]="['/paciente',perfilVar,'documentos','identificacao']">
              <img src="../../../assets/img/img-logo-alfa.png" class="img-logo no-select-img">
            </a>
            <div class="divisao-responsiva-perfil-nickname">
              <h5 class="tipo-perfil" style="color: #fff;">{{ perfil }}</h5>
              <span class="nick-name-for-responsive" style="color: #fff;">Olá, {{ this.usuario }}</span>
            </div>
          </div>


          <!-- 2° Coluna -->

          <div class="col-nome-paciente" [ngClass]="operacoesNgClass()">



            <!-- Estrutura telas maiores -->
            <div class="telas-maiores">
              <h4 class="nome-paciente">{{ nomePaciente }}</h4>
              <div class="container-nick-name-and-span-sair">
                <span>Olá, {{ this.usuario }}</span>
                <span class="span-sair-telas-maiores" (click)="openModal()">Sair</span>
              </div>
            </div>

            <!-- Estrutura para Middle - 768px a 1017px -->
            <div class="menu-responsive-middle-normal">

              <!-- middle dispositivos médios-normal -->
              <h4 class="nome-paciente">{{ nomePaciente }}</h4>
              <img src="../../../assets/img/icone-menu-middle.png" class="icone-menu" srcset="">


              <!-- <div [ngClass]="{'menu-responsive-middle': true, 'visible': isMenuVisibleResponsivaMiddle, 'hidden': !isMenuVisibleResponsivaMiddle}"
              class="menu-responsive-middle"> -->

                <!-- <ul>
                  <li class="menu-responsive-middle--nick-name">Olá, {{ this.usuario }}</li>
                  <li class="menu-responsive-middle--sair-perfil" (click)="redirectMenu()">Sair do perfil</li>
                  <li class="menu-responsive-middle--encerrar-sessao" (click)="encerrarSessao()">Encerrar Sessão</li>
                </ul> -->
              <!-- </div> -->


            </div>


            <!-- Estrutura para Middle Menores - 544px a 767px -->
             <div class="menu-responsive-middle-disp-menores">
                middle dispositivos menores
             </div>

             <!-- Estrutura para Middle Menores Quebrado - 430px a 543px -->
             <div class="menu-responsive-middle-disp-menores-quebrado">
              menu dispositivos menores quebrados
             </div>




            <!-- Estrutura para Mobile - 0px a 429px -->
             <div class="menu-responsivo-mobile">
              menu dispositivo mobile
              <h4 class="nome-paciente">00000000000000000000000000000000000</h4>
              <h4 class="nome-paciente nome-paciente-middle-and-small">00000000000000000000000000000000000</h4>
              <img src="../../../assets/img/menu-versao-dev.png" class="img-menu link-img-menu" (click)="toggleMenu()">
              <img src="../../../assets/img/icone-menu-middle.png" class="img-responsive-middle"
                (click)="toggleMenuResponsiveMiddle()">
             </div>





          </div>


        </div>
      </div>
    </div>
  </div>





  <!--









       col-10 (lado direito)
      <div class=" col-sm-12 col-10-personalizada-lado-direito">


        <div class="row col-10-personalizada-lado-direito-filha">
            col - Nome do paciente
          <div class=" col-md-11 col-sm-12 col-6-personalizada-filha-row-de-col-10-lado-esquerdo">
              <h4>{{ nomePaciente }}</h4>
             <h4>00000000000000000000000000000000000</h4>
          </div>
            col - Opções
          <div class=" col-md-1 col-sm-12 col-6-personalizada-filha-row-de-col-10-lado-direito">
            <div class="row row-filha-col-6-personalizada-filha-row-de-col-10-lado-direito">
              <div class="col col-filha-de-row-filha-col-6-personalizada">
                <span class="col-filha-de-row-filha-col-6-personalizada-nick-name">
                      Máximo 9 caracter para nome de usuário
                    Olá, {{ usuario }}

                   <span class="span-ola">Olá,</span>
                   <span class="nick-name">123456789</span>
                   <img src="../../../assets/img/icone-menu-sair.png" class="icone-sair" (click)="toggleMenu()">


                </span>
                <div *ngIf="isMenuVisible" class="para-responsivo-do-item-sair">
                  <span class="col-filha-de-row-filha-col-6-personalizada-op-sair" (click)="openModal()">

                    <span class="span-ola-responsivo">Olá,</span>
                    <span class="nick-name-para-responsivo">123456789</span>
                    <span class="link-logout" (click)="openModal()">Sair</span>

                  </span>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div> -->

    <!-- Modal -->
    <div
    class="modal fade"
    id="exampleModalCenter"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    data-backdrop="static"
    data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Encerra sessão</h5>
          <button
            type="button"
            class="close"
            (click)="closeModal()"
            aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Deseja sair deste perfil ou encerrar sessão ?
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-primary"
            (click)="redirectMenu()"

            >Sair do perfil</button>

          <button
            type="button"
            class="btn btn-danger"
            (click)="encerrarSessao()"
            >Encerrar sessão</button>
        </div>
      </div>
    </div>
  </div>

  </div>



