@import '../../../styles-variaveis-globais.scss';

/**
* Grid - A partir de 992px à 1199px
* Bootstrap - Large .col-lg-
* Dispositivo alvo: Notebooks e desktops com telas menores compactos
* (Excessão nessa projeto para esta medida responsiva de 992px para 1018px)
*/
@media (min-width: 1018px) and (max-width: 1199px) {


  /*
  * Desativando os efeitos acima para outras medidas de telas menores
  */
  .span-ola, .nick-name  { display: block; }
  .icone-sair, .nick-name-for-responsive { display: none; }

  .menu-bar {
    // background-color: tomato;
    height: 62.333333px; // layout de escala
    border-bottom: none;
  }

  .row-filha-de-col-2-personalizada-lado-esquerdo {
    background-color: #fff;
  }

  .col-12-personalizada,
  .row-de-col-12-personalizada,
  .col-2-personalizada-lado-esquerdo,
  .col-logo-perfil-container,
  .col-logo-perfil-container a,
  .img-logo {
    height: 100%;
  }

  .col-12-personalizada,  .col-2-personalizada-lado-esquerdo {
    padding: 0 15px !important;
    margin: 0 !important;
  }

  .col-logo-perfil-container {
    background-color: darksalmon;
    display: flex;
    align-items: center;
    padding-right: 0 !important;

    flex: 0 0 201px !important; /* Medida determinante com o menu para este media */
  }

  .col-nome-paciente {

  }

  /**
  * col-lg-9 editada para adequar à esta medida
  */
  .col-lg-9 {
    flex: 1 0 75% !important;
    max-width: 81% !important;
  }





  .divisao-responsiva-perfil-nickname, .tipo-perfil {
    color: black !important;
  }

  .divisao-responsiva-perfil-nickname {
    margin: 0 15px;
  }

  .divisao-telas-maiores {
    display: block;
  }

  .telas-maiores {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: aquamarine;
  }

  .span-sair-telas-maiores {
    // background-color: tomato;
    margin-left: 15px;
  }
  .nome-paciente {
    padding-left: 15px;
  }
  .span-sair-telas-maiores:hover {
    text-decoration: underline;
  }

  .tipo-perfil {
    color: black !important;
    margin-bottom: 0;
    font-size: $titulo_h4_screen_1018_AND_1199 !important; // medida de escala
  }

  .telas-maiores .nome-paciente {
    margin-bottom: 0;
    font-size: $titulo_h4_screen_1018_AND_1199 !important; // medida de escala
  }

  .container-nick-name-and-span-sair {
    font-size: $font_size__screen_telas_menores_que_1199 !important; //medida de escala
  }

}


/**** EXCESSÕES ****/

@media(max-width: 1017px) {
  /*
  * Ocultando as tags para visibilidade de telas maiores
  */
  .span-ola, .nick-name, .telas-maiores {
    display: none;
  }

  .col-filha-de-row-filha-col-6-personalizada {
    width: 80.66px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
  }

  .col-filha-de-row-filha-col-6-personalizada-nick-name {
    margin: 0 !important;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    right: 0.5rem
  }


  .span-ola {
    display: none;
  }

  .icone-sair {
    display: block;
    height: 26px;
    // margin: 0 auto;
  }

  .icone-sair:hover {
    cursor: pointer;
  }

  .para-responsivo-do-item-sair {
    background-color: #fff;
    position: absolute;
    width: 5rem;
    top: 1.6rem;
    right: 3rem;
    padding-top: 9.7px;
    padding-bottom: 9.7px;
    border-radius: 2px;
  }

  .col-filha-de-row-filha-col-6-personalizada-op-sair {
    margin-right: 0px !important;
    padding: 0.6333333rem 1.7rem 0.7rem;  /* Àrea de alcance do botão */
  }


}


/*
* Personalização para caber a folha A4 antes de entrar na screen para tabet
*/
@media (min-width:1040px) and (max-width: 1050px) {
  .col-logo-perfil-container { flex: 0 0 195.666px !important; }
}

@media (min-width:1018px) and (max-width: 1039px) {
  .col-logo-perfil-container{
    flex: 0 0 192.666px !important;
  }
  .col-2-personalizada-lado-esquerdo {
    padding-left: 8.4px !important;
  }
}



/*
* Query para definição de altura para telas menores com altura de até 531px
*/
@media(min-width: 970px)  {
  .col-2-personalizada {
    width: 15rem !important; /* Definição de largura junto à largura do menu suspenso */
}


@media(max-width: 1105px) {
  .col-10-persinalizada {
    flex: 0 0 78.733333% !important;
    max-width: 90.333333% !important;
  }
}


}


/*
* Adaptação de tela para a div telas-maiores
*/
// @media (min-width: 1018px) and (max-width: 1199px) { .col-lg-6 { flex: 0 0 %; } }

// @media (min-width: 1018px) and (max-width: 1199px) { .col-lg-6 { max-width: 100% !important; }}

// @media (min-width: 1018px) and (max-width: 1199px) { .col-lg-6 { flex: 0 0 82%; } }
// @media (min-width: 1018px) and (max-width: 1188px) { .col-lg-6 { flex: 0 0 81%; } }
// @media (min-width: 1018px) and (max-width: 1127px) { .col-lg-6 { flex: 0 0 80%; } }
// @media (min-width: 1018px) and (max-width: 1072px) { .col-lg-6 { flex: 0 0 79%; } }
// @media (min-width: 1018px) and (max-width: 1022px) { .col-lg-6 { flex: 0 0 78%; } }


