
  <div class="row menu-bar">

    <div class="col-2 col-2-editada-global side-bar-esquerdo">
      <div class="row container-row-side-bar-esquerdo-filho">
        <div class="col-2 col-logo-filho">
          <img src="../../../assets/img/img-logo-alfa.png" class=" img-menu no-select-img">
        </div>
        <div class="col col-perfil-filho" style="font-size: 1.3em; padding-right: 2%;">
          [Neuropsicologia]
        </div>
      </div>
    </div>
    <div class="col-10 col-10-editada side-bar-direito">
      <div class="side-bar-direito-filho">
        <div class="side-bar-direito-filho-container-esquerdo">
          <span class="nome-paciente-display">[Bruno Fernandes dos Santos]</span>
        </div>
        <div class="side-bar-direito-filho-container-direito">
          <span class="usuario-display">[Olá, usuario]</span>
          <span class="sair"><a [routerLink]="[]">Sair</a></span>
        </div>
      </div>
    </div>
  </div>



